[2014-04-05 01:27] DanielSank opened #1 "inBaseUnits fails with units 'H'"
In IPython

raises an UnboundLocalError: local variable 'term' referenced before assignment.

[2014-07-14 03:05] DanielSank opened #2 "types.py with 64 bit python"
Need to deal with flattening integers in 64 bit python. There, the default size is int64, which is too big for the LabRAD protocol. We need to check that the value of the integer will be unchanged upon truncation to int32 and then flatten as int32. This also has to be implemented in arrays.

[2014-07-14 03:08] DanielSank opened #3 "type inference in complex nested types fails"
`[([],),([5.0],)]` does not flatten. See test_types.py.

This has to do with the `LRNone` class and how types are considered to be " equal to or more specific than" other types.

[2014-07-14 03:55] DanielSank opened #4 "unflatten "*v[some_unit]" to labrad.units.ValueArray"
Currently, *v[some_unit] unflattens to a LazyList which, if we call `.aslist`, is a list of labrad.units.Value. This is very inconvenient. `labrad.units.ValueArray` was introduced to make this sort of thing easier to handle.

[2014-07-14 04:00] DanielSank opened #5 "numpy arrays successfully flatten with suggested types "*v[some_unit]""
Numpy arrays should only be able to flatten to `*v` if the units are null.

[2014-07-14 05:11] DanielSank opened #6 "labrad.types.flatten(Value(4, 'm'), 'v') does not raise exception"
Is this intentional or not?

[2014-07-14 18:15] pomalley opened #7 "Node startup is overly finicky with non-python cmd lines"
This is the current command for starting the Qubit Sequencer:

[code]

This obviously breaks when someone is using jre7, and is a bad idea overall. The correct solution (I think) would be to require java in the path, and then have

[code]

but for some reason the node doesn't parse this correctly and the server doesn't start. We should look into this.

[2014-07-16 00:45] #4 closed, assigned to DanielSank

[2014-07-16 00:49] #1 closed, assigned to nobody

[2014-07-16 08:08] #5 closed, assigned to DanielSank

[2014-07-17 00:34] DanielSank opened #8 "Is "v[]" handled by labrad.types.py?"
Apparently (according to Evan) the type tag v[] represents a float with no units. I need to check whether types.py handles this correctly, and write tests.

[2014-07-18 23:13] jayich opened #9 "Add non-device servers to pylabrad"
I think it would be an improvement to pylabrad if non-device servers were added to the pylabrad repository, such as the gpib_device_manager, data_vault, etc.  This would make the code a bit easier to maintain. Basically everyone using pylabrad uses these servers regardless of what devices they physically have connected, and so I think it is at the  core of pylabrad's functionality.  I know the Hae

[2014-07-19 16:23] #6 closed, assigned to DanielSank

[2014-07-19 16:24] #8 closed, assigned to DanielSank

[2014-07-19 18:30] pomalley opened #10 "Values are not picklable"
I need to look into this more, but it turns out that you can't pass (lists of) Values as kwargs to a multiprocessing function. I think this is because there is an error when unpickling. (This also fails with our usual st.r construction, which would be more useful in this case.)

This would obviously be pretty handy.

[2014-07-20 05:00] DanielSank opened #11 "Meaning of 'v', and who is responsible for type checking"
Continuation from discussion on issue #6.

There is ongoing work/discussion/confusion regarding the meaning and usefulness of the `'v'` type tag. It has been suggested that `'v'` be depricated. This seems to have grown out of ongoing confusion in units.py and types.py about the meaning of `'v'`.

The real issue seems to lie in the fundamentally unrelated ways in which `'v'` was/is being used. The

[2014-07-20 22:15] #10 closed, assigned to ejeffrey

[2014-07-22 00:02] DanielSank opened #12 "l.t.flatten(3, 'v') yields different type object from l.t.flatten(3.0, 'v')"
Obviously this is no bueno. As discussed elsewhere, `'v'` should never show up on the wire any way, so we should make this always choose `'v[]'` as the resulting type.

[2014-07-22 07:09] jayich opened #13 "wiki units code snippets"
In the "Units" page of the wiki it would be helpful to format the code snippets explicit output, for example:

import labrad.units as U
from labrad.units import GHz, MHz, Hz, ms, us, ns, km, m, mm

' >>> x = U.Value(10.0, 'm') # Construct the quantity 10 meters '
' >>> x['mm'] '
' 10000.0 '

I was surprised in a server when I ran timeout['ms'] thinking I would still have labrad.units.Value type, b

[2014-07-22 16:40] ejeffrey opened #14 "Reduce rounding errors in unit conversions"
When a unit has powers with SI prefixes in the denominator, such as 5_U.Unit('1/ns'), the conversion routines tend to give rounding errors.  (5_U.Unit('1/ns'))['Hz'] == 4999999999.999999.  This is not really a big problem, but it happens because '1/ns' has a 'factor' of 1e-9, which is not an exact floating point.  It then computes 1/factor, which is not exactly 10^9.  It would be nice if unit pref

[2014-07-22 17:01] #13 closed, assigned to nobody

[2014-07-23 07:03] #12 closed, assigned to DanielSank

[2014-07-24 03:12] joshm-3b6b58 opened #15 "cxn.manager.node.name() returns wrong name if name has a space"
I was just making a labrad node on my laptop, which is called "josh laptop". The node ends up being called node_josh_laptop, but when you run cxn.manager.node.name() it returns "josh"

Is there a convention that node names should just never have spaces? In any case the node server is behaving differenly than the manager.

[2014-07-24 20:12] #15 closed, assigned to nobody

[2014-07-25 18:28] #11 closed, assigned to nobody

[2014-07-25 18:29] DanielSank opened #16 "Can we merge the new_units branch into master?"
That would be cool.

[2014-07-25 22:32] pomalley opened #17 "Units with numbers in the name don't get exponentiated correctly."
At least, I think that's where the problem is coming from.

[code]

[2014-07-25 22:59] pomalley opened #18 "Taking 1.0 / (DimensionlessArray) gives an array with dtype=object"
[code]

[2014-07-25 23:59] #18 closed, assigned to ejeffrey

[2014-07-25 23:59] #17 closed, assigned to ejeffrey

[2014-07-26 00:00] #14 closed, assigned to ejeffrey

[2014-07-26 05:12] jayich opened #19 "python wire type conversion rules"
It might be nice to put something like

"With the following imports..."

[code]

Above the table on this page.

(label: enhancement)

[2014-07-26 19:25] jayich opened #20 "restart servers from LabRAD manager"
I have no idea if this is feasible but...

It would be great if servers could be restarted directly from the manager.  So a greyed out server could be selected in the list in the manager and then a button could be pressed on the manager to restart it.  Similar to the "Drop Connection" button.  I guess "Make Connection".

This is technically not pylabrad, but this will reach the right people.  Also

[2014-07-27 01:46] aransfor opened #21 "LabRAD wiki"
It would be helpfull if we could copy the wiki stuff from the pylabrad wiki to the LabRAD organization wiki. i am willing to do this if it is ok with the martinis people

[2014-07-27 07:57] #19 closed, assigned to nobody

[2014-07-29 00:39] #21 closed, assigned to nobody

[2014-07-29 04:40] jayich opened #22 "code structure clarification"
It would be helpful to perhaps have a developers section on the wiki to include information about the code structure of pylabrad.  In particular a clarification about the testing structure.  I intuit that you have a folder named "test" in each folder, and that contains the test code for the modules one directory above the "test" folder.  This became confusing for a bit when I went into pylabrad/la

[2014-07-29 04:43] jayich opened #23 "Where are tests needed?"
It looks like in pylabrad/labrad there are a lot of files without test code, or at least obvious test code.  A clarification of what still needs test code would be helpful.

(label: question)

[2014-08-12 04:16] ejeffrey opened #24 "Can't unflatten *v"
The new strict pylabrad units implementation never sends a bare 'v' over the wire.  However, other clients still may send that, so we must handle it gracefully.  The error is:

RuntimeError: Cannot construct WithUnit with unit=None.  Use correct units, or use a float

[2014-08-12 18:09] ejeffrey opened #25 "DimensionlessArray.max() returns scalar array instead of float"
In [1]: x = labrad.units.WithUnit(np.arange(10), '')
In [2]: x
Out[2]: DimensionlessArray([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9.])
In [3]: x.max()
Out[3]: DimensionlessArray(9.0)

[2014-08-12 20:23] ejeffrey opened #26 "Can't unflatten empty list"
The registry sends empty list values with the type tag *{0}_.  This typetag parses as LRList(None), but None is not a labrad type, you need LRNone.

[2014-08-12 23:42] thchwhite opened #27 "Error reporting in pylabrad"
It would be very helpful if pylabrad could be modified to give more detailed error reporting information.  A specific example of this would be for unit errors.  We have been porting over a lot of the old servers, and it would be helpful if pylabrad tracebacks could somehow carry more information about where in the code the error was first generated.

[2014-08-13 21:57] #20 closed, assigned to pomalley

[2014-08-13 23:44] #7 closed, assigned to pomalley

[2014-08-19 00:36] #23 closed, assigned to nobody

[2014-08-19 06:30] tyamamoto opened #30 "incompatible unit error"
When I start gpib device manager, I got an Type error of "Incompatible Units".
Judging from the error message, the error occurs in pyvisa when it tries to set timeout parameter.
There is an inequality 0<= timeout <= 4294967. While the parameter timeout has a unit of second,
0 and 4294967 have no units, leading to an incompatible units error.
For the moment, I can avoid this error by removing the u

[2014-08-19 19:52] tyamamoto opened #31 "node controller"
In order to use the brower-based server controller, I started labradnode by doing
C:\Python27\Scripts\twistd.py -n labradnode,
then I got an error message that "Could not flatten 'LABRADNODE' to _".
Despite the error message, I could start the web controller.
However, if I try to start any of gpib device servers,
it remains "staring" forever and never becomes "started",
although the server appears

[2014-08-21 21:44] pomalley opened #32 "Figure out how to run tests on the node."
I've spent about a day trying to figure out how to set up unit testing for the Node and I can't figure out how to git rid of the `DirtyReactorAggregateError: Reactor was unclean.` error.

Here's the [stackoverflow question](http://stackoverflow.com/questions/25415974/twisted-trial-how-to-test-a-multiservice-with-a-client-in-it-reactor-was-unc) I asked, but it hasn't helped.

I've started a branch

[2014-08-21 22:35] #31 closed, assigned to pomalley

[2014-08-21 23:57] pomalley opened #34 "ValueArray should work for isfinite"
np.isfinite(someValueArray) should work, and it doesn't. I guess this one belongs to @ejeffrey?

[2014-10-01 19:27] #30 closed, assigned to nobody

[2014-10-01 19:32] DanielSank opened #36 "Can't initialize ValueArray with a list of Values"
This should work:

[code]

but it raises

[code]

[2014-10-11 01:40] DanielSank opened #37 "Unit('s*GHz*V^2/Ohm/J').isCompatible('') returns False"
It should be True.

[2014-10-15 21:51] DanielSank opened #38 "Cannot multiply numpy scalars by units"
This doesn't work:

[code]

[2014-10-19 07:00] jayich opened #39 "Saving multidimensional data to data vault"
I have a large array, 492 x 656, that I would like to handle with data vault.  I don't think it is possible to do this cleanly at present. A lot of independent variables is not appealing.    I would be happy to start a branch to help work on extending the functionality of data vault to larger arrays. Thoughts and discussion about how to move forward would be much appreciated.

label: enhancement

[2014-10-19 17:46] #37 closed, assigned to ejeffrey

[2014-10-19 17:51] #36 closed, assigned to ejeffrey

[2014-10-19 18:00] #38 closed, assigned to ejeffrey

[2014-11-04 20:22] pomalley opened #41 "numpy / scipy versions"
Will we have a recommended version for numpy and scipy? Also, what version of numpy / scipy are we using to reconcile everything against in our lab?

[2014-11-05 00:00] pomalley opened #42 "Unicode Strings"
It would be great if LabRAD had support for unicode strings. This would require rewriting more than just pylabrad, of course, so it probably won't happen for a while.

In the meantime, perhaps we could have pylabrad convert unicode strings into regular strings. In the gpib server that uses pyvisa 1.6, for example, there are a bunch of conversions from unicode strings because the pyvisa package ret

[2014-11-25 22:56] pomalley opened #43 "pylabrad doesn't properly coerce 64-bit ints"
If pylabrad receives a 64-bit integer, it should coerce it to 32-bit integer, or at least provide a more helpful error message.

[2014-11-26 17:10] #43 closed, assigned to ejeffrey

[2014-12-06 00:09] jayich opened #46 "counts unit"
It would be helpful to include "counts" as a unit.  For example when working with a PMT it is nice to use kiloCounts/second, or sometimes you want to just save with the unit "counts", for the total counts obtained in an experiment.

<enhancement>

[2014-12-17 23:59] JulianSKelly opened #48 ".gitignore doesn't have .pyc, etc"
.gitignore lacks most of the file types that are ignored in /pyle, /servers such as .pyc, etc.

Is this intentional or just an oversight?

[2015-01-07 23:02] andrewdunsworth opened #49 "ValueArray does not support ndarray's reshape"
It would be useful if we could reshape ValueArrays in the same manner as ndarrays.

[2015-01-09 04:17] DanielSank opened #51 "This repo should be moved to the labrad organization"
'cuz, you know, it's public, and like whatever.

If I can get an aye aye from @ejeffrey @pomalley and @maffoo I will just do it.

[2015-01-09 04:19] DanielSank commented on #48
Added *.pyc. Other file types probably aren't as relevant, but people can add as necessary.

[2015-01-09 04:19] #48 closed

[2015-01-09 04:21] DanielSank commented on #42
This made me laugh, again. I think this needs to be posted above Matthew's desk.

[2015-01-09 05:08] DanielSank opened #52 "Can I delete new_units?"
?

[2015-01-09 05:09] pomalley commented on #52
Seeing as how it's 25 commits behind master, I would say yes.

[2015-01-09 05:13] DanielSank commented on #52
It is done.

[2015-01-09 05:13] #52 closed

[2015-01-09 05:15] DanielSank opened #53 "Test files don't do anything if you tell python to run them"
Just need to add the ol'

    if __name__ == "__main__":
        <actually run something in this module>

[2015-01-09 05:16] DanielSank commented on #53
Uh, ok, nevermind. I am taking crazy pills.

[2015-01-09 05:16] #53 closed

[2015-01-09 16:44] pomalley commented on #51
Sounds good. I guess we should move jlabrad and the Delphi stuff as well. What about servers?

[2015-01-09 19:04] maffoo commented on #51
aye aye

[2015-01-14 16:07] #2 closed

[2015-01-15 01:08] zchen088 opened #55 "LabRAD values and numpy functions"
To add onto Andrew's earlier issue with reshape, a lot of simple functions such as np.floor or np.round don't work on values with units.

[2015-01-15 07:34] DanielSank commented on #55
Nor should they. What do you expect to be returned from

`np.floor(Value(1.1, 'm'))`?

Maybe you would say `Value(1.0, 'm')`, but how do you know it's not `Value(110.0, 'cm')`? It makes *much* more sense to cast to the unit you want and then do your math. In fact, I can't imagine why you would want to do this anyway. Can you explain?

[2015-01-15 08:00] zchen088 commented on #55
There were multiple instances (none of which I wrote) of this in fpgaSeqTransmon where timings needed to be in an integer number of nanoseconds, and so np.round and np.ceil were used. The functions used to work when numpy functions simply stripped units first, so I had to fix them by replacing i.e. with np.round(time['ns'])*ns, which seems clunky to me. Is there supposed to a better way to do this

[2015-01-15 08:41] DanielSank commented on #55
I actually don't really think that's clunky. That idiom should maybe be wrapped up into a method though! In other words:

    class UnitOrWhateverIt'sCalled:
        def floor(self, units):
            return np.floor(self[units])*units

Invoking it like this:

    my_variable_with_time_dimensions.floor('ns')

would round down to the nearest nanosecond.

[2015-01-15 09:10] zchen088 commented on #55
So can we unclose this until that functionality is added?

[2015-01-15 16:27] DanielSank commented on #55
Yes. Please add the features you need :)

[2015-01-15 23:00] zchen088 commented on #55
I'm not familiar with the units code. Do I add this to the class WithUnit?

Also, here's a list of functions I would add:
floor
ceil
round

Any others we need?

[2015-01-16 00:50] DanielSank commented on #55
I think you should take a look at the code to familiarize yourself, and then ask @ejeffrey for guidance as he's the most recent person to touch units.py. Make a branch for this issue, of course.

[2015-01-18 23:41] jayich opened #56 "coveralls"
I noticed that travis is gaining a lot of traction.  That is exciting.

Coveralls seems like a decent option to consider for displaying test coverage status:

https://coveralls.io/

Qutip (https://github.com/qutip/qutip) uses this and travis.  I'll look into setting this up with another repository, and if there is interest it could be added to pylabrad.  Someone with better sys-admin skills could

[2015-01-23 05:48] DanielSank commented on #56
LGTM, but I don't have experience with coverage services.

[2015-01-23 05:55] #56 closed

[2015-01-26 23:07] ejeffrey commented on #55
I have added these functions in the feature branch units_rounding_funcs.  They work like this:

5322.0 ns

I also added some tests to test_units.py.  If someone wants to check it out I will make a pull request.

[2015-01-27 00:05] zchen088 commented on #55
I was able to use it in fpgaSeqTransmon without it breaking, but I'm not taking data right now so I can't tell if it introduced any more subtle errors. I tested the basic functionality and it seems fine to me.

[2015-01-27 00:08] ejeffrey commented on #55
I am going to fix issue https://github.com/martinisgroup/pylabrad/issues/34
(np isfinite and friends) in the same branch, since it is mostly the same
thing.  Will have that shortly.

Evan

On Mon, Jan 26, 2015 at 4:05 PM, zchen088 <notifications@github.com> wrote:

[2015-01-28 19:40] JulianSKelly commented on #16
Can we close this? @DanielSank

[2015-01-28 23:51] DanielSank commented on #16
Yeah, sure looks like it.

[2015-01-28 23:51] #16 closed

[2015-02-02 19:46] DanielSank commented on #24
What's actually causing this, the data vault?

[2015-02-04 00:16] maffoo commented on #3
This seems to be fixed by recent changes to type inference in types.py:
[code]

[2015-02-04 00:16] #3 closed

[2015-02-04 19:37] afowler opened #62 "Make types.py faster by coding it in C."

[2015-02-04 19:43] pomalley commented on #62
Heh, I like it. Out of curiosity, where is this a problem? Getting large amounts of data to/from the data vault?

[2015-02-04 19:43] DanielSank commented on #62
FPGA server.

[2015-02-04 19:45] ejeffrey commented on #62
Test cases for values with units:

import numpy as np
import labrad.units as U

fasttypes.flatten(4*U.ns)                     -> typetag: v[ns]
fasttypes.flatten((2+7j)*U.Unit('Volt'))    ->  typetag: c[ns]
fasttypes.flatten(np.eye(4)*U.GHz)        -> typetag: *2v[GHz]
fasttypes.flatten(4*GHz*2*ns)               -> typetag: v[]

On Wed, Feb 4, 2015 at 11:37 AM, afowler <notifications@github.com> w

[2015-02-04 19:46] DanielSank commented on #62
Does this code exist somewhere so people can try it?

[2015-02-04 19:48] ejeffrey commented on #62
Mostly the FPGA server (the whole path direct ethernet-<>fpga server <->
qubit sequencer <-> pyle).  The datavault is not as troublesome because
data that can be transfered as numpy arrays is already handled relatively
efficiently.

Evan

On Wed, Feb 4, 2015 at 11:43 AM, pomalley <notifications@github.com> wrote:

[2015-02-04 23:25] jayich opened #63 "units - 'Ang' does not convert to 'm'"
[code]
Gives the following error:
TypeError: Incompatible units: 'Ang', 'm'

Looking through the code 'Ang' seems to have base units of meters and should be convertible to meters.  I might be missing something here.  I didn't see an explicit test for inUnitsOf, I'll try and get to at least preforming a simple test on that method.  This might be easy for someone more familiar with units to fix quic

[2015-02-04 23:35] maffoo commented on #63
There's no unit called 'Ang', however, there is a constant `Ang` defined in the units module with a value of 1e-10 m:
[code]
The distinction is important because the labrad manager does not know about units called 'Ang', so we can't just define arbitrarily named units and expect them to be handled properly. We can, however, define arbitrary constants, and use them in computations.

[2015-02-04 23:35] #63 closed

[2015-02-04 23:37] DanielSank commented on #63
Just to be a pest: we really don't want the manager caring about dimensions anyway...

[2015-02-04 23:39] jayich commented on #63
Ah,  I see.  Thank you.

[2015-02-04 23:45] ejeffrey commented on #63
Even if we take the manager out of the equation we should still have a list
of preferred units that all clients are expected to understand.

Also, the labrad manager happily passes through units it doesn't understand
without conversion, the only problem is that the recipient won't
necessarily know what to do with it.

Evan

On Wed, Feb 4, 2015 at 3:39 PM, jayich <notifications@github.com> wrote:

[2015-02-12 03:09] maffoo opened #64 "Unflattening array of complex numbers loses units"
Currently, these unflatten by default as numpy arrays with complex128 as the dtype, but no units. Contrast this with arrays of real values which unflatten into ValueArray and so preserve the unit information.

[2015-02-12 03:10] maffoo opened #65 "Servers and clients need a way to skip flattening/unflattening if not needed"
For servers that just want to pass data along or store it in a lossless way, it would be nice to be able to avoid incurring the cost of flattening/unflattening data.

[2015-02-12 03:13] pomalley commented on #65
Dare I suggest: LazyList?

[2015-02-12 03:15] maffoo opened #66 "Allow pluggable representations of unflattened labrad data."
Somewhat related to #65, it would be nice to be able to specify the type of python object into which you'd like to unflatten a piece of labrad data. While the defaults are good in most cases, there are time when one would like a custom representation that may be more efficient than the default (numpy record arrays come to mind, instead of lists of clusters). This would also allow us to avoid the t

[2015-02-12 03:18] maffoo commented on #65
LazyList was a half-hearted attempt to do something like this, but it _only_ skipped unflattening lists. I'm thinking of something more drastic here, more inline with how the delphi and java apis work, where you really just have an opaque Data object that is essentially just raw bytes.

[2015-02-12 03:19] ejeffrey commented on #65
Why not just make flattening and unflattening cheap enough that it doesn't
matter?  Austin's stuff should help with that.

@pomalley: very funny.

I think the right way to do this is to make it explicit.  Make a variant of
the @setting decorator that allows requesting some or all of the arguments
to  explicitly stay flattened, wrapped up in an opaque "LabradData" type.
Then the server code can eit

[2015-02-12 03:22] maffoo commented on #65
Even if unflattening is cheap, what are you unflattening to? You need a lossless representation of the labrad data, so why not just operate on the bytes directly. Also, as mentioned in #66, it would be nice to uncouple the python representation so the user can unflatten in different ways.

Agree that explicit is better than implicit, and I was thinking along the same lines of modifying the setting

[2015-02-12 03:29] ejeffrey commented on #66
One more thing, there are a handful of places, primarily to do with the
fpga server where we send a flattened representation of a labrad request to
one server, and that server then invokes it at a specified time.  For
instance, the qubit sequencer builds a packet that will change the anritsu
frequency and sends it to the ghz fpga server to be invoked before the
FPGAs run.  This should be supported

[2015-02-12 03:43] ejeffrey commented on #65
Well, we want a low overhead way to do the flatten/unflatten paths in any
case, as that is the 'normal' code path.  If we can make that fast enough
that we aren't limited by it, and if we can make sure that
unflatten+flatten is lossless, then I don't see the point in providing an
alternate code path.

On Wed, Feb 11, 2015 at 7:22 PM, Matthew Neeley <notifications@github.com>
wrote:

[2015-02-12 06:09] DanielSank commented on #64
Should I regard this as something to fix or is this in your court?

[2015-02-12 06:13] ejeffrey commented on #64
Nitpick: arrays of real numbers unflatten (or should) to
DimensionlessArray, which has both the ValueArray/WithUnit API and the
numpy API so it can work transparently with numpy but still works with code
that expect units.  complex numbers should do the same.

On Wed, Feb 11, 2015 at 7:09 PM, Matthew Neeley <notifications@github.com>
wrote:

[2015-02-12 06:25] DanielSank commented on #65
While this will solve the immediate problem with the datavault and will also help in the case where a server just wants to forward a request or response elsewhere, I think we may be conflating two ideas here. Independently of whether or not we keep the underlying binary data, I'd think we want to guarantee that `flatten(unflatten(binary_data)) == binary_data`, i.e. promise Losslessness<sup>TM</sup

[2015-02-12 06:38] DanielSank commented on #66
One could override entries in the `_parsers` registry in `types.py` on a per-request or even per-record basis.

[2015-02-12 06:53] ejeffrey commented on #65
If we do this, I propose only supporting it in the asynchronous
(server)client.  That should cover 90% of the use cases, and we can then
build it into the packet data structure:

This is what I propose as a syntax for this:

@setting(10, _raw=True, accepts=['*s', '*v[GHz]'], returns=['*i*v[]])
def do_stuff_proxy(self, c, data):
    p = remote_server.packet()
    p.do_stuff(data, _raw=True)
    res

[2015-02-12 15:41] DanielSank commented on #65
Why the underscore in `_raw`?

[2015-02-12 16:35] maffoo commented on #65
@ejeffrey why only for the asynchronous interfaces and what do you mean by "build it into the packet data structure"?

[2015-02-12 16:47] ejeffrey commented on #65
Well, currently the async and syncronous interfaces are largely separate
(they use different ServerWrapper and PacketWrapper classes).  So I think
we should do the async version first at least -- that is where the majority
of the use cases are, and that interface is more featureful.

I just mean that we can require using the explicit packet syntax to request
non-flattening of return values, rather

[2015-02-12 18:06] maffoo commented on #65
Ah, makes sense. When you said "packet format" I thought you were referring to bytes on the wire.

[2015-02-13 03:42] #64 closed

[2015-02-18 01:29] DanielSank opened #69 "cxn.registry.del is treated as a syntax error"
I'm on Ubuntu 14

Can anyone else reproduce this error on their system?

[2015-02-18 01:32] pomalley commented on #69
workaround: `cxn.registry['del']`

[2015-02-18 01:33] DanielSank commented on #69
Thanks, @pomalley, I was trying to figure out a workaround like that :-)

[2015-02-18 01:34] pomalley commented on #69
Yeah, I remember running into this before, but I don't remember in what context.

Surely you want to use the registry wrapper, anyway?

[2015-02-18 01:36] DanielSank commented on #69
Oh, uh, yeah, I guess I do want that.

[2015-02-18 02:09] ejeffrey commented on #69
Yes, this is a known issue.  del is a keyword in python so you can't use it
as an identifier, including an attribute name.  I actually thought pylabrad
special cased methods named del and renamed them, but apparently not.

On Tue, Feb 17, 2015 at 5:36 PM, Daniel Sank <notifications@github.com>
wrote:

[2015-02-18 03:19] ejeffrey commented on #69
OK, just looked into this.  We do name mangling to avoid making illegal
identifier names (i.e., starts with a digit, contains spaces or minus
signs), and to avoid confligting with existing static attributes of server
wrappers, but not to avoid keywords.

I have a patch to fix this.

On Tue, Feb 17, 2015 at 6:52 PM, Daniel Sank <notifications@github.com>
wrote:

[2015-02-18 04:57] ejeffrey commented on #69
closed by #70.

[2015-02-18 04:57] #69 closed

[2015-03-10 20:19] DanielSank opened #71 "Why can't I specify '' as an optional type tag in @setting ?"
Why isn't this allowed?

[code]
When I try this python tells me
[code]
I gather that the correct way to describe possibly null arguments is to just default them to `None` in the function signature, but I'm wondering why it was done like this.

[2015-03-10 20:31] maffoo commented on #71
It's because the current version of labrad does not allow '' (empty data) inside other pieces of data (e.g. clusters) but rather only at the top level. If the example you give were allowed, then you might expect to be able to supply a cluster of type `(i_)` for the two arguments, but that's not allowed. When you supply default values, pylabrad allows those arguments to be omitted so that you can p

[2015-03-11 06:38] DanielSank commented on #71
Groovy.

[2015-03-11 06:38] #71 closed

[2015-03-13 18:21] DanielSank opened #72 "pylabrad does not handle 64 bit python"
64 bit ints are not handled:

[code]

[2015-03-13 18:22] DanielSank commented on #72
A reasonable way to handle this would be some way to tell numpy to not use 64 bit data types, but I have not come up with a way to do this that doesn't require changing every call to `np.array`.

I'd like to fix this asap so I can use my DR time.

[2015-03-13 22:29] #72 closed

[2015-03-17 00:18] DanielSank opened #74 "dBm units can be added o_O"
This shouldn't happen:

[code]

[2015-03-18 00:40] maffoo opened #76 "Unit implementation is overly complex and brittle"
There are various problems here, but in particular we've recently found that unit computations are expensive and these things are hard to fix because the implementation is fairly obscure. Improved test coverage would also be good, both to better document the api and to catch regressions while refactoring.

[2015-03-18 01:55] DanielSank commented on #76
We could also just rewrite the module to be less obscure...

[2015-03-18 03:56] joshmutus commented on #76
What is it about units that's so bad? Presumably converting between units
is just a matter of multiplying by constants which should be really easy.
Is keeping track of the different kinds of units the problem? Could use
enforce just a smaller subset of units that could be used?

On Tue, Mar 17, 2015 at 6:55 PM Daniel Sank <notifications@github.com>
wrote:

[2015-03-18 04:00] pomalley commented on #76
While we may want to do this eventually, there are going to be so many little gotchas that I'd personally much prefer that it happen after the jump table stuff is merged in--only one big rewrite at a time!

[2015-03-18 05:12] DanielSank commented on #76
@joshmutus all I can say is that having tried to implement my own units library, I find that it's not completely trivial :-)

[2015-03-18 05:32] joshmutus commented on #76
@DanielSank I believe you, I've never tried it myself so I don't understand where the complexity comes in? As a thought experiment: restricting myself to lengths, and enforce a rule that I have to use metric, then all I have have to worry about are the relationships between SI prefixes. Are there some tradeoffs that can be made to simplify things?

[2015-03-18 06:12] ejeffrey commented on #76
The complexity is mostly of the death by 1000 needles variety.  One thing
is that we allow a number of different ways to create a new things with
units: you can explicitly construct it, you can multiply a float by a Unit
object, or by a Value object.  We want to support real numbers, complex
numbers, and numeric arrays with units, and we want all the standard
arithmetic operations to work they way

[2015-03-18 17:40] joshmutus commented on #76
I see, thanks for explaining that.

On Tue, Mar 17, 2015 at 11:12 PM, ejeffrey <notifications@github.com> wrote:

--
Josh Mutus

[2015-03-27 22:50] hoiiochun opened #77 "Can not import ValueArray"
When we try
[code]
we get an error message:
[code]
On most recent master branch. Note that this works on another computer also on most recent master branch. Pylabrad is in PYTHONPATH environment variable.

-@hoiiochun and @jwenner

[2015-03-27 22:53] jwenner commented on #77
Fixed. Only thought we were on master branch. Actually on packetdump branch. Switching to most recent master branch fixed this.

[2015-03-27 23:07] pomalley commented on #77
Yay!

[2015-03-27 23:07] #77 closed

[2015-03-29 04:57] DanielSank opened #78 "Cannot flatten numpy bool"

[2015-04-03 18:36] DanielSank opened #80 "Setting metadata cache doesn't update on refresh"
Type tags and docstrings are cached and don't update on `cxn.refresh()`.

[2015-04-03 19:03] DanielSank opened #81 "Can I send multi-record packets without requests from other clients being interleaved?"
Suppose I do this:

[code]

Is there some way to guarantee that foo and bar execute under my context without any other requests getting interleaved in between?

This is of interest to the Berkeley lab.

[2015-04-03 19:11] maffoo commented on #81
Other requests that get sent in the same context will not be interested; the servers already enforce this. If you want to avoid interleaving among requests in different contexts, you'd have to use a semaphore or some other synchronization primitive (like the locks we have in the ghz_fpga_server).

[2015-04-03 19:12] maffoo commented on #80
Which backend are you using?

[2015-04-04 01:14] ejeffrey commented on #81
To expand on what Matthew said, an example of this would be the FPGA server
+ ethernet server that use semaphores to keep scans separate.

If it is desirable we can add a simple mutex to labrad servers so that you
could do:

p.acquire()
p.foo(x)
p.bar(y)
p.release()
p.send()

to make sure that other contexts couldn't interleave.  We could even
arrange for automatic lock release when contexts expir

[2015-04-04 01:19] ejeffrey commented on #81
In fact, I am going to implement this tonight.  It is really needed for
things like GPIB servers, and we don't get burned by not having this only
out of luck.

The simplest way is to use discretionary locks: that is, it works if
everyone cooperates and uses the mutex calls.  It would be possible but
trickier to make acquire() block *all* requests outside the current context
until the lock is relea

[2015-04-04 04:02] pomalley commented on #81
Isn't there a lock device function in, uh, somewhere in pylabrad?
On Apr 3, 2015 6:19 PM, "ejeffrey" <notifications@github.com> wrote:

[2015-04-04 04:40] ejeffrey commented on #81
Not that I know of.

I am looking at this, and I see a couple of ways it could operate.

The first way is to make acquire(timeout) and release() the only things
that touch the lock.  Code that doesn't call those functions isn't blocked.
There is a problem with this: normally, while labrad is executing a packet,
if one setting errors, the remainder of the packet is skipped.  This
normally makes sen

[2015-04-04 04:45] pomalley commented on #81
Here's what I was thinking of:

https://github.com/martinisgroup/pylabrad/blob/master/labrad/gpib.py#L438

I've never tried using it and don't really know how/if it works.

[2015-04-04 05:13] ejeffrey commented on #81
OK, I didn't know that was there.  What I was thinking of was adding
something like this to the pylabrad server class so that every server gets
it.  Of course then it would be a server-wide lock, not per device --
things that used 'select device' would have to implement it on their own,
although we could provide helpers do make it easy to do properly like
automatically releasing the lock when the

[2015-04-04 07:37] DanielSank commented on #81
Dude, why not make all of those options available?

[2015-04-04 08:19] DanielSank commented on #80
Twisted.

[2015-04-04 08:20] DanielSank opened #82 "Update cheese shop"
The version there is from 2010.
Also, can we make the creds for doing that somehow available to core devs?

[2015-04-04 17:32] ejeffrey commented on #81
Because features are harder to remove or fix than to add, and because
having 4 lock options makes it less likely that users will choose the right
one than if you only have one.

On Sat, Apr 4, 2015 at 12:38 AM, Daniel Sank <notifications@github.com>
wrote:

[2015-04-04 20:20] ejeffrey commented on #81
One other option:

Locks are explicitly acquired and released, but any uncaught exception
(i.e., any setting returns an LRError type) automatically causes the lock
to be released.  This will allow locks to persist between multiple packets,
but handle correctly the common failure mechanisms.  The question here is
whether this is too much magic.

On Sat, Apr 4, 2015 at 10:31 AM, Evan Jeffrey <ejeffr

[2015-04-04 20:23] pomalley commented on #81
Perhaps it would be good to list some potential use cases to help decide what sort of lock would be best. (And we should make sure to get input from the other groups as well.) Without thinking too much about it, I'm leaning toward door number 4 (the last one).

[2015-04-04 21:03] ejeffrey commented on #81
So a simple example would be reading an MKS gauge via the serial server:

p = serial_server.packet()
p.write_line('p')
p.read_line(key='pressures')
p.write_line('f')
p.read_line(key='full_scale')
p.send()

Without locking, if two clients try to access the mks gauge at the same
time, the queries and responses can get mixed together.  This is even a
problem if there is only one MKS gauge server, if

[2015-04-06 16:31] maffoo commented on #82
@DanielSank, if you create an account on PyPI and let me know the username I can give your account permission to upload to pylabrad.

[2015-04-09 23:51] DanielSank opened #84 "np.abs does horrible things to l.u.ValueArray"
[code]

Is this fixable?

[2015-04-09 23:54] DanielSank commented on #84
I was trying to get the modulus of a complex ValueArray. I guess the right thing to do here is to add a `.modulus` method. `abs` would be misleading.

[2015-04-10 00:27] ejeffrey commented on #84
abs is fine for complex numbers.  I prefer that to modulus because it is
the same as the numpy function that does the same thing.

There is a way to get these types to work with numpy functions directly, it
involves creating an __array_interface__ method that lets numpy figure out
how to access the underlying array.  The problem with this is that then
*every* numpy ufunc works, even ones that don'

[2015-04-15 23:34] #80 closed

[2015-04-17 02:36] #78 closed

[2015-04-20 20:47] pomalley opened #87 "Registry is finicky with python datetime objects"
If I try to set a registry key to `datetime.datetime.now` things work. If I try to set it to `datetime.datetime(2015, 4, 20, 1, 1, 1)` then things don't work.

Ideas?

[2015-04-20 20:48] maffoo commented on #87
what exactly doesn't work?

[2015-04-20 21:03] pomalley commented on #87
Right, my bad. Specifically the second case seems to put None in the registry, or at least when I pull it back I get None (and the registry editor shows a `-`). This could be a bug with the registry wrapper, to be fair.

[2015-04-20 21:59] maffoo commented on #87
I think this is a manager bug. In particular, the current registry converts data to a human-readable string and stores it to disk, then parses that string representation and converts it back to labrad data when you try to get from the registry. The string formatting and parsing is buggy:

[code]

Note that last blank line; the manager is returning `None` when it fails to parse the string. This wor

[2015-04-20 22:34] ejeffrey commented on #87
I just checked this out in the filesystem on skynet, and it is indeed
storing '04/20/2015 01:01:01.19792127609253E-7' on disk, but failing to
read it back.

Playing around a bit more, I am finding other bugs where it returns the
wrong data.  For instance:

x =  datetime.datetime(2015, 4, 20, 1, 1,2)
cxn.manager.data_to_string(x)
'04/20/2015 01:01:02.999999824911356'

i.e., one second off.

On Mon,

[2015-04-21 00:28] pomalley commented on #87
OK, well, that's discouraging (not that a second going to matter, but still). It would be nice to get this fixed, but I'm not sure how that's going to happen if the manager is the culprit. Other than for the scala manager to get going...

[2015-04-23 00:42] JulianSKelly opened #89 "[Jump Table] Z board offset drifts between stats when using zOffsetDC"
:(

[2015-04-23 00:43] #89 closed

[2015-04-27 16:59] DanielSank opened #92 "units wiki page is out of date"
I think this one is probably an @ejeffrey

[2015-04-27 22:13] afowler opened #94 "labrad.types.flatten bug"
These both work:

('?\xf0\x00\x00\x00\x00\x00\x00', LRValue(''))

And these both work:
('?\xf0\x00\x00\x00\x00\x00\x00', LRValue(''))

('\x00\x00\x00\x02?\xf0\x00\x00\x00\x00\x00\x00?\xf0\x00\x00\x00\x00\x00\x00', LRList(LRValue(''), depth=1))

('\x00\x00\x00\x02?\xf0\x00\x00\x00\x00\x00\x00?\xf0\x00\x00\x00\x00\x00\x00', LRList(LRValue(''), depth=1))

But these do not both work:

Traceback (most

[2015-04-27 23:12] afowler opened #95 "Disallow conversion of Boolean to numeric data"
Currently Boolean data can be flattened to any other type of numeric data:

('\x01', LRBool())

('\x00\x00\x00\x01', LRInt())

('\x00\x00\x00\x01', LRWord())

('?\xf0\x00\x00\x00\x00\x00\x00', LRValue(''))

('?\xf0\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00', LRComplex(''))

However numeric data cannot be flattened to Boolean data:

Traceback (most recent call last):
  File "<stdin>",

[2015-04-29 00:06] DanielSank opened #96 "Can't flatten array of int to array of v"

[2015-04-29 01:02] afowler commented on #96
Pushed fix for fasttypes, issue still present in types:

C:\Python-2.7.9\project_1_fasttypes\Release>python
Python 2.7.9 (default, Dec 10 2014, 12:24:55) [MSC v.1500 32 bit (Intel)] on win32
Type "help", "copyright", "credits" or "license" for more information.
'>>> import labrad.types as t
'>>> import numpy as np
'>>> t.flatten([-1,2,3],'*v')
('\x00\x00\x00\x03\xbf\xf0\x00\x00\x00\x00\x00\x00@\x0

[2015-04-29 01:14] DanielSank commented on #96
To make something show up as code, fence it with triple backticks. I'll do it here:

[code]
Hit the edit button to see the source of this comment.

[2015-05-08 16:09] pomalley opened #98 "Sourceforge Wiki is back"
Thanks to @jayich for pointing this out to me:

http://sourceforge.net/p/pylabrad/wiki/Home/

Shall we try to migrate this information or something?

[2015-05-12 01:25] jwenner commented on #98
And also the labrad wiki: http://sourceforge.net/p/labrad/wiki/Home/

[2015-05-12 01:39] ejeffrey commented on #98
Yes, we should clone them while they still exist.

On Mon, May 11, 2015 at 6:25 PM, Jim Wenner <notifications@github.com>
wrote:

[2015-05-12 05:45] chrismacklin opened #99 "hdf5 support"
I asked Dan about this; he said, "actually the code is already written but sitting in [ @ejeffrey ]'s branch."

[2015-05-12 17:56] maffoo commented on #99
See the [u/ejeffrey/hdf5_data](https://github.com/martinisgroup/servers/tree/u/ejeffrey/hdf5_data) branch in the servers repo. If you'd like to track this, please open an issue there where the data vault code live.

[2015-05-12 17:56] #99 closed

[2015-05-13 22:54] chrismacklin opened #101 "generating tab completion for HasDynamicAttrs"
How are tab completions generated for ServerWrapper (or for that matter anything that inherits from HasDynamicAttrs)?  I'm familiar with defining a `__dir__` method ( http://ipython.org/ipython-doc/dev/config/integrating.html ), but this doesn't appear to happen anywhere.

My use case is an object that wraps a ServerWrapper, and I'd like tab completion on this object to include all of the attribut

[2015-05-13 23:16] DanielSank commented on #101
Isn't this a question of implementing the methods ipython wants, as described in the link in OP?

[2015-05-13 23:44] btchiaro opened #102 "switchSession raises AttributeError; LazyList object has no attribute '_unflattened'"
When calling switchSession
[code]

[2015-05-13 23:47] maffoo commented on #101
There's a method called `_getAttributeNames`: https://github.com/martinisgroup/pylabrad/blob/master/labrad/client.py#L222

This was how it used to work, back in like the ipython 0.10 days. I think that method name came from an old tool called pycrust, and apparently ipython still supports it, even if the recommended way to do this has changed. Feel free to make a change and submit a PR.

[2015-05-13 23:55] maffoo commented on #102
I think this belongs in pyle. When you file the issue there, please include the pylabrad and pyle versions you are running.

[2015-05-13 23:55] #102 closed

[2015-05-14 00:05] btchiaro commented on #102
Hey Matthew,  I moved the issue.  How should I find the version number for
you?  Are you looking for a commit hash or something else?  I just pulled
master of both pyle and pylabrad.
Thanks,
-Ben

On Wed, May 13, 2015 at 4:55 PM, Matthew Neeley <notifications@github.com>
wrote:

[2015-05-14 00:06] maffoo commented on #102
yeah, I meant the commit hash.

[2015-05-14 01:20] chrismacklin commented on #101
Digging in to this slightly deeper, it looks as if _getAttributeNames is actually a lot nicer than implementing __dir__ (though totally undocumented at this point).  The problem with implementing __dir__ is that __dir__ must return *all* of the attributes, not just the dynamically-added attributes, leading to annoying hacks like
[code]
because once you have implemented __dir__ you can't call dir(s

[2015-05-14 01:20] #101 closed

[2015-05-15 04:15] DanielSank commented on #84
Well, it's not as important as fixing flux noise, but it seems that if we're going to continue maintaining our own units lib we should fix this.

[2015-05-15 04:17] DanielSank opened #103 "Document type tag annotations"
There is some magic available when writing type tags involving `{}` and other undocumented things. We should document this. It would probably take someone who knows how it works like ten minutes to do this.

See [here](https://github.com/martinisgroup/pylabrad/wiki/Type-dac-annotations).

If someone can explain it to me I'm happy to write the wiki page. I've seen this in the code
[code]
From the p

[2015-05-15 20:43] chrismacklin opened #104 "Server/client exception handling"
If a server raises an unhandled exception during execution of a command, a labrad.types.Error is raised in the client with the stack trace as a string in Error.msg .  I notice this note in labrad.types.Error:
    # TODO register error classes by code, so remote errors can be reraised
I've also noticed that servers tend to raise garden-variety Exception, rather than a more descriptive error.  Would

[2015-05-15 20:57] DanielSank commented on #104
+1

Would be nice to have this done right.

[2015-05-16 00:52] pomalley commented on #104
What I've done, for now, is to define exception subclasses as necessary in the servers, and when they get raised, catch labrad.types.Error on the client side and check for `[exception class name] in err.msg`, and handle from there. (And then if I don't find the particular exception type re-raise the error.)

[2015-05-16 01:06] DanielSank commented on #104
I'd like to see if I understand how this is supposed to work. Servers can return LabRAD errors instead of the usually expected data type. When this happens, the local API has to deal with it somehow. In python we'd like to be able to catch certain types of remotely generated errors by raising appropriately matched exceptions. The only way to do this is to map LabRAD errors to python exceptions.

T

[2015-05-16 10:06] chrismacklin commented on #104
Is there a particular reason that a numeric code is used?  Is this a
language compatibility issue?  Otherwise, a string for a namespace and
either a name string or a numeric code would probably be enough to be
plenty descriptive.  Python can construct that dynamically for error
messages it understands, and then gracefully raise a standard exception for
those it doesn't.  Java can handle this throu

[2015-05-16 10:53] chrismacklin commented on #104
Revised my last comment after looking at source.  Digging in slightly deeper, I understand now that the Error datatype is assumed to be a tuple of an int and a string as a labrad core feature, so I can see that modifying this is tricky without having to update the APIs for every supported language.

We could consider adopting a regular expression structure for the Error string to add a namespace f

[2015-05-19 00:07] chrismacklin opened #105 "Allowed type tag patterns and optional arguments"
I've noticed a few servers use the type tag pattern `['_', 'sometype']` with the absence of the argument indicating a query and the presence indicating a command.  I implemented this pattern for a few settings but with more parameters than one (for instance, `channel` and `value` where value is None or a boolean) and was surprised at this error:
`'' not allowed after first arg.`
Does this imply th

[2015-05-19 00:11] DanielSank commented on #105
+1 because I think this needs to be properly documented.

[2015-05-19 00:17] chrismacklin commented on #103
I've seen this as well: `['*v: add one row of data', '*2v: add multiple rows of data']`

[2015-05-19 00:47] chrismacklin opened #106 "Device locking seems to be completely broken"
Locking a device without a specified timeout does not perpetually lock the device, as one might expect from the setting description
[code]
but actually just locks it for the time `devices.LOCK_TIMEOUT = 10`.

Further, trying to specify a timeout throws an error which I believe is due to a bug here:
https://github.com/martinisgroup/pylabrad/blob/062cd5188ee8ac5abcf2a29c9edd1ee4e93e8bde/labrad/devic

[2015-05-19 01:01] DanielSank commented on #106
We fixed a major problem with the way units are handled in pylabrad a while back. It looks like this is just a loose end. PR to fix that problem would be much appreciated.

I would rename `timeout` to `timeout_s` to indicate the necessary units, and then put the unit conversion where `lock` is called.

[2015-05-19 01:30] maffoo commented on #105
There is a difference between explicitly providing a type like `['_', 'someType']` to the `@setting` decorator versus defining arguments with default values. Let me see if I can explain. In labrad as it currently stands, multiple arguments are acutally passed as a tuple, but tuple's cannot contain `None` as members. So, suppose you had three string arguments to a setting, the latter two of which h

[2015-05-19 01:37] DanielSank commented on #105
This should be a wiki page.

[2015-05-19 01:50] chrismacklin commented on #106
Fixed in #107.  It still would be nice to be able to lock a device in a context indefinitely, but some unforseen error condition could leave stale locks so I'll settle for setting large values for now.

[2015-05-19 01:50] #106 closed

[2015-05-19 05:13] DanielSank commented on #106
@chrismacklin indefinite locks seem unwise due to the fact that we're dealing with a network.

[2015-05-19 06:00] chrismacklin commented on #106
Certainly. The revised setting documentation to reflect that lock_device with no argument is just locking for a default time is enough of an improvement.  I don't have a use case in mind for a perpetual lock, and I'm not even sure we'll end up using device locks at all.  This all came up because I was demoing labrad for someone today and attempted to demonstrate locking a device and it failed :)

[2015-05-19 19:54] chrismacklin commented on #51
This would be helpful for us third-party users.  It might also be nice to split out quasi-core servers (gpib bus, gpib manager, etc.) from the martinisgroup servers repo to make it more clear to new labRAD users which servers are of general interest and which are more application-specific.  That would also be a good place for other labRAD users to be able to contribute servers of general interest

[2015-05-19 20:20] DanielSank commented on #51
Yeah, the only reason we haven't done this is that we have to get everyone to freeze at the same time. We'll make a point of it.

[2015-05-19 20:23] DanielSank commented on #51
So, anyone mind if I just do this

@maffoo @ejeffrey @pomalley @JulianSKelly

[2015-05-19 20:34] pomalley commented on #51
well we'll have to update all the dataking computers, no? and really everyone's computer in the lab once they try to pull?

[2015-05-19 20:45] DanielSank commented on #51
Just have to change what `origin` points to. No biggie.

[2015-05-22 00:15] DanielSank opened #109 "Initialize ValueArray with a Value"
It would be nice if
[code]
produced
[code]

[2015-05-22 00:28] maffoo commented on #109
requiring an interable is more consistent with the `np.array` constructor. I vote no change.

[2015-05-23 00:11] DanielSank opened #110 "ValueArray should have a .shape attribute"
just like ndarray.

[2015-05-23 00:11] DanielSank commented on #109
Ok, fair enough.

[2015-05-23 00:11] #109 closed

[2015-05-27 22:43] maffoo opened #111 "Strange error message when trying to flatten a cluster element without units"
Trying to flatten a number without units fails with an informative error message:
[code]
However, when this is not a number by itself bur rather an element of a cluster preceded by a value or complex array, the error message is rather more obscure:
[code]

If the preceding value or complex arrays are instead typed as '*v[]' or '*c[]', of if some other type is given for the first element, then we g

[2015-06-10 07:00] chrismacklin opened #115 "Server making a request in a borrowed context?"
Is there an example in the codebase for how to instruct a server to make a request to another server using the context of a client session?

For an explicit example: I have a server which stores a database initialized by a client and stored in that client's context on the database server.  I'd like another server to be able to query this database as if it were one of the clients.

[2015-06-10 17:14] maffoo commented on #115
First, let me say that I'd recommend caution before you go too far down this road. We've found that sharing contexts in this way can be tricky, because you're trying to manage distributed state and it's very easy for things to get out of sync.

That said, it shouldn't be too hard to do what you want. The other server needs to know the context identifier, which is just a tuple of two 32-bit integer

[2015-06-10 17:51] chrismacklin commented on #115
Thanks!  I'm not at all convinced this is the implementation I plan to use; this question was mostly prompted by curiosity from a re-read of part of the LabRAD spec in Markus' thesis.

[2015-06-10 17:51] #115 closed

[2015-06-11 23:40] chrismacklin opened #116 "Getting the floating point value of a unit seems to be broken"
[code]
I can hack around this by just asking for ```v._value```, but, you know, best practices and all...

Also very confusing:
[code]
This one I can't figure out at all...

[2015-06-12 18:40] maffoo commented on #116
The bracket notation returns the bare value of a dimensional quantity, expressed in the given units:
[code]
Volts have dimensions, so they can't be converted to empty, which is why you were seeing the error. If you have a dimensionless value, however, then you _can_ convert to empty units, because the dimensions are compatible. We allow calling `float` only on such a dimensionless number, to avoid

[2015-06-12 19:13] chrismacklin commented on #116
Is there a recommended way to get the bare floating point value?  I need this for customized object serialization.

[2015-06-12 19:22] #116 closed

[2015-06-12 22:26] chrismacklin opened #117 "Check if an object can be flattened?"
I'd like to create a server setting that returns a pre-serialized version of its reply if that reply cannot be flattened to a labrad type.  Is there a way to check this without going ahead and flattening it?  labrad.type.getType does not fail when handed an object that cannot be flattened; for instance
[code]

[2015-06-12 22:36] maffoo commented on #117
I don't understand what you mean by returning a pre-serialized version. Anything you return from a server setting will get flattened before sending over the wire, so if something cannot be flattened and you try to return it, things will fail anyway. Can you describe in a bit more detail what you're trying to accomplish?

[2015-06-12 23:01] chrismacklin commented on #117
As in, if the data cannot be flattened into a labrad type, I will resort to using a different serialization protocol than labrad (yaml for what I'm working on at the moment), send the data over the wire as a string, and then reconstruct on the user's end after receiving the server's reply.

[2015-06-12 23:15] maffoo commented on #117
I'd say your best bet at the moment is just try to flatten and then fall back if there's an error. This [EAFP](https://docs.python.org/2/glossary.html#term-eafp) style is common in python. It may do some extra work, but as long as the size of objects you are sending is not huge, I would not expect performance to degrade much. And if the typing is fixed to fail when given non-flattenable data as in

[2015-06-12 23:16] maffoo commented on #117
Also, it's certainly possible to add an array type; feel free to propose something :)

[2015-06-20 21:14] JulianSKelly opened #118 "1024 ns is greater than 1.024 us"
[code]

[2015-06-21 00:32] pomalley commented on #118
Floating point comparison?
On Jun 20, 2015 5:14 PM, "Julian Kelly" <notifications@github.com> wrote:

[2015-06-21 19:49] ejeffrey commented on #118
This is a floating point conversion issue. The offending code is this:

In [38]: 1e-6 / 1e-9
Out[38]: 999.9999999999999

I think this happened because of the unit conversion caching by @maffoo.
When I checkout tag 21762c (which used the Fraction class to keep track of
the powers) this behaves as expected.

Evan

On Sat, Jun 20, 2015 at 5:32 PM, pomalley <notifications@github.com> wrote:

[2015-06-23 01:31] zchen088 opened #119 "Base unit is incorrect for powers of units"
Units like ```ns^2``` have as their base unit ```s**2```, which isn't a real thing and leads to errors if there is code that tries to convert to the base_unit.
[code]

[2015-06-23 01:34] DanielSank commented on #119
Looks like the problem is

[code]

[2015-06-23 22:09] zchen088 opened #120 "Failed tests"
When I run tests with pylabrad, I get numerous failures:
[code]
Is this expected?

[2015-06-23 23:00] maffoo commented on #120
The `python_test_server` errors are expected, since currently the tests require that you have a manager and test server running (it's located in `labrad/servers/test_server.py`). The `ValueError` is unexpected; are you up to date with master?

[2015-06-23 23:08] zchen088 commented on #120
Yes I just pulled again to make sure, and I'm still getting the same failure.

[2015-06-24 03:20] maffoo commented on #120
what happens if you just flatten `-2**31`? This looks to be the failure, but it works fine for me:
[code]

[2015-06-24 19:15] zchen088 commented on #120
Yes this appears to the problem:
[code]

[2015-06-24 19:17] #119 closed

[2015-06-24 19:59] maffoo commented on #120
I can't see why that would be happening. What is the git sha of your pylabrad checkout? Also, can you verify that your python path is set up right and you're loading the version of pylabrad you think you're loading?

[2015-06-24 20:15] zchen088 commented on #120
git sha is 22f2e343a2fa, and I'm definitely importing from the correct place.

Is this a 64-bit vs 32-bit issue? I'm using 32-bit python 2.7.9

[2015-06-24 20:32] maffoo commented on #120
32-bit python? What is this, 2010? :)

Seriously though, I don't think that should make any difference. I think most of the lab machines are using 32 bit python too.

What does getType return for you?
[code]

[2015-06-24 20:36] zchen088 commented on #120
I get an ```LRWord()```

[2015-06-24 20:36] zchen088 commented on #120
and -2**30 gives ```LRInt()```

[2015-06-24 20:37] maffoo commented on #120
how about `type(-2**31)`?

[2015-06-24 20:37] zchen088 commented on #120
[code]

[2015-06-24 20:45] maffoo commented on #120
Oh, LOL, I see what's happening. Valid range for a 32-bit signed int is numerically `-2**31` to `2**31-1`. However, when you write `-2**31` it actually computes `2**31`, which is a long, and then negates that to get a long because it doesn't bother shrinking the type even though it would fit in a long.

It seems to be ok with literals, however. Can you confirm that `type(-0x80000000)` is `int`?

[2015-06-24 20:46] zchen088 commented on #120
Yep

[2015-06-24 20:47] maffoo commented on #120
Ok, wanna make a change to the test to use a literal instead?

What this really tells us is that the whole notion of using `int` and `long` types in python to map to `i` and `w` in labrad is silly. The good news is that when calling settings, we always have an expected type to flatten to, so this doesn't come up. But we might want to think about having a way to just send integer _values_ without w

[2015-06-24 20:56] zchen088 commented on #120
So why did this test pass on the automated tester?

[2015-06-24 21:07] maffoo commented on #120
because the tests are run on 64-bit python, so `type(-2**31) == int` and everything is fine. Like I said, int/long does not map cleanly to i/w, so we should not use that to make flattening decisions. This is also something we have to fix to have a hope of being compatible with python 3, which has no long type at all; there are only ints, and they are arbitrary precision.

[2015-06-24 21:12] #120 closed

[2015-06-24 21:25] pomalley commented on #120
FWIW we had some very surprising bugs trying out 64 bit pythona year ago or
so (iirc with envelopes) so be careful there.
 On Jun 24, 2015 2:07 PM, "Matthew Neeley" <notifications@github.com> wrote:

[2015-06-24 21:29] zchen088 commented on #120
AKA the Dark ages.

[2015-06-24 22:48] #117 closed

[2015-06-25 23:40] DanielSank commented on #117
+1 A map type would be nice.

[2015-06-26 23:13] jayich opened #123 "labrad teams and permissions"
I would like to be involved in this organization, but it is not appropriate for me to be in the owners team.  For example I don't want direct write privileges to pylabrad.

I would like to try and contribute to the wiki, and possibly other future repositories.

Has anyone given thought to teams and permission for this organization?

[2015-06-27 01:45] jwenner commented on #51
@DanielSank, seems like the issue should now be closed, right?

[2015-06-27 01:46] #51 closed

[2015-06-27 20:55] DanielSank commented on #92
I have no idea what I meant by this so closing.

[2015-06-27 20:55] #92 closed

[2015-06-27 20:56] DanielSank commented on #62
What ever happened to this, @ejeffrey @afowler?

[2015-06-29 16:22] afowler commented on #62
To the best of my knowledge, the code is complete, but I don't know if it has been integrated or who is assigned to do so. @ejeffrey?

[2015-06-29 18:22] chrismacklin commented on #123
I am also interested in this.  I would love to be able to contribute to the wiki.  It would also be nice to be able to contribute to development without having to go through the external pull request process, but that's a minor issue.

[2015-06-29 20:48] DanielSank commented on #123
This is a good issue to discuss sooner rather than later. As far as I see it, there are two possible workflows on github

Let me describe what I think is the most sensible work flow:

1. Each group using LabRAD (i.e. Irfan's group etc.) should fork the repos they care about.

1. Within that group, development happens however that group wants. I can offer some advice about this, but for now it does

[2015-06-29 20:50] chrismacklin commented on #123
@DanielSank I understand the need for code review; the PR process is slightly more involved from a fork, but as I said that's not a big issue.  The main issue that I see is that there is no way to submit PRs against the wiki - without being members of the organization, there is no way for us to contribute to the documentation.  One possible solution to this would be to move the wiki from the githu

[2015-06-29 20:52] DanielSank commented on #123
@chrismacklin If you fork a repo doesn't its wiki come with it? The wiki is just a git repo after all. Can you give that a try?

[2015-06-29 20:56] chrismacklin commented on #123
Github doesn't have a PR process for wiki pages; the workaround most people seem to do is to make changes on your forked version of the wiki, file an issue, and someone in the group must manually merge them.

[2015-06-29 20:59] pomalley commented on #123
That's unfortunate. I think documentation is generally so low-priority in people's minds (including mine) that we should try to have as small of a barrier to documentation-writing as possible.

[2015-06-29 21:04] DanielSank commented on #123
I totally agree with Peter. Adding to the wiki needs to be turbo easy. A pattern I'd like to encourage is that any and all questions about how LabRAD works should be answered by writing wiki pages, i.e. if someone posts an issue asking a question the response is a wiki page and a link in the issue tracker.

Anyway, how do we actually make this easy? The system described in @chrismacklin's link see

[2015-06-29 21:08] pomalley commented on #123
Another option is to just let contributors write straight to the wiki and require that the preface their edits with "The following is unreviewed", and then make an issue, and then the reviewer can remove that line after review. Kinda lame, but it's a relatively small barrier.

[2015-06-29 21:11] DanielSank commented on #123
@pomalley is there a way to do this without giving everyone commit on the repo itself?

[2015-06-29 21:11] chrismacklin commented on #123
@pomalley unfortunately it is not possible to grant write permissions only to the wiki without also allowing write access to the source repo.

[2015-06-29 21:12] DanielSank commented on #123
Can we just make the wikis there own repos? That seems like a super easy solution? The only problem is that I'm not sure if they'll render nicely with all the little disbar navigation stuff etc.

[2015-06-29 21:13] pomalley commented on #123
Well, there is something to be said for there being a "LabRAD wiki" so we don't have to be pedantic about what belongs in pylabrad vs. whatever (though I guess most things happen in pylabrad these days).

[2015-06-29 21:15] DanielSank commented on #123
Good point. Making each wiki for the repos their own repo works in N-1 cases though :-)

[2015-06-29 21:26] DanielSank commented on #123
Er, well, I guess it doesn't really. I just made a new repo `pylabrad-wiki` and unfortunately it doesn't render with all the nice sidebars etc.

[2015-06-29 21:48] chrismacklin commented on #123
It would be nice to bring all the documentation together under one LabRAD umbrella, with internal structure for language-specific interfaces.  Then specification-implementation cross-referencing could be done more easily; eg a page on labrad type tags in the general area, cross-referenced to a page on pylabrad/python type conversion rules in a pylabrad section.

[2015-06-29 21:58] pomalley commented on #123
I agree with @chrismacklin. Why don't we use the [LabRAD repo](https://github.com/LabRAD/LabRAD) since that seems to be what it's for? I think having multiple wikis will just cause things to disperse unnecessarily.

[2015-06-29 21:59] jayich opened #124 "wiki"
Contributing, access, where, what, etc.

[2015-06-29 21:59] jayich commented on #123
Started this issue for the wiki:  https://github.com/labrad/pylabrad/issues/124

[2015-06-29 22:00] jayich commented on #124
One wiki would be great.

[2015-06-29 22:15] DanielSank commented on #123
@chrismacklin @pomalley This doesn't seem to address the issue this thread was originally about, namely now contributions to the wiki should happen.

We seem to now be talking about two things:

1. How do we manage contributions to the wiki?

1. Should we have a wiki in each repository or just one global wiki?

I am in favor of one wiki per repository. I think if scalabrad, pylabrad, jlabrad, and

[2015-06-29 22:16] DanielSank commented on #124
Can you be more specific? What is this issue about?

[2015-06-29 22:17] DanielSank commented on #123
@chrismacklin linking to github resources isn't particularly difficult. Can you explain what you mean by having one wiki making linking easier?

[2015-06-29 22:21] jayich commented on #124
hmm... I guess the wiki discussion fits fine under the teams and permissions issue.

[2015-06-29 22:21] #124 closed

[2015-06-29 23:25] chrismacklin commented on #123
@DanielSank Having all the documentation in one place would make it much more portable; if I wanted all of it in one place for easy reference, I could clone the entire wiki to a local repo and have everything.

[2015-06-29 23:32] pomalley commented on #123
I too would prefer one wiki; I think it's simpler to put a header on a wiki page that says which API (or whatever) that page is for than to reference across wikis. But it's a minor thing in any event.

[2015-06-29 23:47] DanielSank commented on #123
Perhaps but we should make a decision :-)

[2015-06-29 23:51] chrismacklin commented on #110
+1

.dtype would be great as well.

An easy solution (though I don't know what the python pros think of this approach) is to define a ```__getattr__``` for ValueArray as
[code]

Then a ValueArray can be asked for any property of the underlying ndarray.  This might be confusing and have unintended side effects.

I could also just go ahead and implement shape and dtype properties for ValueArray and

[2015-06-29 23:55] DanielSank commented on #110
@chrismacklin go for it.

[2015-06-30 00:00] pomalley commented on #123
OK, I decide that we should have one wiki. :-)

[2015-06-30 00:14] chrismacklin commented on #110
Implemented in #125

[2015-06-30 00:20] DanielSank commented on #123
@pomalley How will the permissions work?

[2015-06-30 00:30] pomalley commented on #123
The wiki goes in the LabRAD repo, and we all get permissions there. Or we just make a new repo with the wiki only and we all get permissions there. Right?

[2015-06-30 01:45] zibrov-zlobin opened #126 "Registering a non-standard identification function"
We have an Amatek Lock-in. Instead of the standard "*IDN?" command the identification command is : "ID".
The "gpib_device_manager.py" has a method `register_ident_function()` that has the setting defined as `setting = ['s','w']`.
As I understand, I should be able to register a new function by connecting to the server and invoking this method.
[code]
where "AMATEK Lock-in Server" is the name of the

[2015-06-30 01:53] DanielSank commented on #126
On the setting decorator issue:

If you do this
[code]
you are telling pylabrad that you have a remotely accessible setting called `Name` which takes a single argument called `arg` which can be either a string (`s`) or an unsigned int (`w`).

[2015-06-30 02:41] DanielSank opened #127 "Explain @setting arguments in wiki"
See [here](https://github.com/labrad/pylabrad/wiki/Writing-Servers). It would be nice if someone could take a quick look and make sure I didn't say anything false. I'm not trying to make this the main documentation because I think that should be in the code, but this came up with a new user so I thought it should be in the wiki.

Will close issue once someone indicates that the entry is ok (we don

[2015-06-30 20:17] maffoo commented on #127
There's a lot of duplication between the first segment with the bulleted list (which it looks like you added) and the later 'Setting Decorator' section. We should clean that up.

In addition, I would add that if you omit an explicit type for any particular arg and/or for returns, then the type will be '?', that is, we will accept any type for that argument, and allow any type to be returned (at le

[2015-06-30 20:17] maffoo commented on #127
Otherwise, LGTM.

[2015-06-30 20:29] DanielSank commented on #127
@maffoo Fixed. Take a quick look?

[2015-06-30 20:31] maffoo commented on #126
The idea here is that you need to write a new server to manage the gpib communication with your amatek lock-in devices. Your server registers with the gpib_device_manager that it can handle certain devices, but the gpib_device_manager itself handles identifying all the available gpib devices, and then notifying registered servers when it has found them. For non-standard cases, your server can impl

[2015-06-30 20:55] maffoo commented on #127
LGTM

[2015-06-30 20:55] #127 closed

[2015-06-30 21:35] jayich opened #128 "copy.deepcopy of a WithUnit instance"
Is it expected behavior that a WithUnit instance can't be deepcopied?  I would like to make a deepcopy of an object that contains some WithUnit instances.  Running in IPython I get the following:

[code]

[2015-06-30 21:48] ejeffrey commented on #128
copy and deepcopy should work.  For Value and Complex types, they should
simply return self.  ValueArrays should return a copy.  What version of
pylabrad are you using?

On Tue, Jun 30, 2015 at 2:35 PM, jayich <notifications@github.com> wrote:

[2015-06-30 21:50] ejeffrey commented on #128
Yeah, it works for me with current version of pylabrad

In [1]: import labrad.units as U
In [2]: import copy
In [3]: copy.deepcopy(4*U.s)
Out[3]: Value(4.0, 's')

On Tue, Jun 30, 2015 at 2:35 PM, jayich <notifications@github.com> wrote:

[2015-06-30 22:27] jayich commented on #128
Sorry, I was not up-to-date.  I'm very happy that I can deepcopy.

[2015-06-30 22:27] #128 closed

[2015-06-30 22:35] jayich opened #129 "Current labrad version is labrad.__version__ = '0.93.1'"
Is 0.93.1 the latest version?  I noticed 0.93.2 in this:

https://github.com/labrad/pylabrad/blob/1f40e27c06cf62fd1c73cb8f293572d6ba582761/CHANGES.txt

There have also been recent commits to master, possibly not relevant to version control?  Just wanted to make sure this is known.

[2015-06-30 22:51] DanielSank commented on #129
I think we should get in the habit of tagging commits so there's some semblance of releases.

[2015-06-30 23:03] zibrov-zlobin commented on #126
Thanks for the replies. I guess I dont' quite understand how to access the settings.
For example, I am trying to measure the voltage with the Agilent 34401A DMM.

The `AgilentDMMServer` has a method:
[code]
I am trying to access it by, but I don't understand what arguments (in what form) is the server accepting; I keep getting "could not flatten errors" or "key unkown":

[code]
I am sorry to bothe

[2015-06-30 23:12] DanielSank commented on #126
That first argument `c` in the `voltage` function is passed in automatically by pylabrad. You should not pass it yourself from the interactive shell. Instead, do this
[code]

[2015-06-30 23:13] DanielSank commented on #126
NB: Issues like this should be closed only once OP understands what to do and either he/she or someone else has condensed the relevant information into a wiki article.

[2015-06-30 23:13] DanielSank commented on #126
@zibrov-zlobin Don't worry for now about using non-default contexts. You will probably never need the features they provide.

[2015-07-01 01:43] chrismacklin commented on #129
The way to be serious about this is have a separate numbered release branch and periodically merge master (or develop or whatever) into it, creating a new numbered release.

[2015-07-01 04:16] jayich opened #130 "unittest hits a TypeError when running assertAlmostEqual"
I am now on the latest version of pylabrad and I am hitting a new error when I run some old test code.  It would be great if someone could run this code to confirm the error isn't some local configuration of mine.  I am trying to compare WithUnit values and trying to account for some small discrepancy  in WithUnit values.

[code]

Gives the error:
[code]

The actual_value in my real test case come

[2015-07-01 18:36] chrismacklin commented on #130
I ran this using nose and reproduced this failure.

[2015-07-01 19:12] jayich commented on #130
Great, thank you so much for this fix.

[2015-07-01 19:12] #130 closed

[2015-07-02 21:39] zibrov-zlobin commented on #126
@DanielSank Thanks!
I wasn' t sure if it was me making incorrect requests to the server or the code.
The agilent_34401a_dmm server had an issue with flattening the response to the set unit.

I've added
[code]
and replaced all the `returnValue(float(ans))` to `returnValue(float(ans)*units.ApropriateUnit)`

[2015-07-03 01:20] zibrov-zlobin commented on #126
@maffoo
Thanks! It works!

will try to write up a wiki, do I understand it right:
if my class has an attribute `self.deviceIdentFunc` which points to an identification method then the server registers the name of this method in the `gpib_device_manager`. If the regular *IDN? identification results in UNKNOWN, the device manager tries with the method specified?

Then I don't understand what does th

[2015-07-03 08:03] jayich opened #131 "Was there an API change notification on the value attribute to base_value change?"
I missed this API change:

labrad.units.Value.value attribute is now gone, and I think it is replaced with labrad.units.Value.base_value.

It would be great if when public attributes are changed there was some type of notification, tag, or release note.  I tried searching issues and the repository, but nothing obvious came up.  I remember loosely following units discussions, but didn't appreciate

[2015-07-03 19:33] chrismacklin opened #132 "Any reason not to install with setuptools?"
As far as I can tell, installation seems to work fine with setuptools, and allows use of the nice ```python setup.py develop``` command.  I probably haven't exercised all of the features of LabRAD, though; does anyone know if there is a reason to prefer distutils for installing pylabrad?

[2015-07-03 20:24] DanielSank commented on #132
This is probably a StackOverflow post somewhere.

[2015-07-03 22:00] chrismacklin commented on #132
Are there instructions somewhere for executing the labrad test suite?  I tried running it with nose but clearly more configuration needs to take place than is happening.

[2015-07-04 00:51] DanielSank commented on #132
With pytest installed in your virtualenv run `py.test` in the root directory.

[2015-07-04 01:16] chrismacklin commented on #132
This is dumb and aimless issue, I'm going to close it now.

[2015-07-04 01:16] #132 closed

[2015-07-04 23:02] jayich commented on #123
Is the idea that the pylabrad-wiki (if it is the solution) be linked to the wiki on this repository?

[2015-07-05 00:48] DanielSank commented on #123
@jayich yeah that would make sense. Another thing that would really help is an autogenerated TOC.

[2015-07-06 20:49] maffoo commented on #126
@zibrov-zlobin, yeah, that doc means that your server with ident setting should look like this:

[code]

By adding a default value of the `idn_response` argument, we tell labrad that it is optional, so this function will accept `(s, s)` or `(s, s, s)`, as desired.

[2015-07-06 21:00] DanielSank opened #134 "We need contributing instructions"
Writing them now...

[2015-07-06 21:12] maffoo commented on #131
`base_value` is *not* the same as value, and yes, it should probably have a leading underscore because it is not meant to be part of the public api. For that matter, `value` was not meant to be part of the public api either, which is why it got renamed to `_value` at some point. The idea is that you want to be explicit whenever you extract a bare number from a quantity with units about which units

[2015-07-06 21:30] jayich commented on #131
@maffoo, thank you for these clarifications, this helps a lot.  We are switching to the superior convention (x[s]) in places where it was not used.

[2015-07-06 21:30] #131 closed

[2015-07-07 02:33] #134 closed

[2015-07-08 00:52] jwenner opened #136 "Wiki/Clients - Defining cxn"
On the "Wiki/Writing Clients" page, it is described to connect to labrad via `cxn=labrad.connect()`. Shouldn't there be a note about using `with labrad.connect() as cxn` instead in scripts to avoid a connection zoo?

(Note that someone else will have to make this change; I don't seem to have edit access.)

[2015-07-08 01:56] maffoo commented on #136
I just invited you to be a contributor, @jwenner; once you get that, please feel free to edit the wiki.

[2015-07-08 01:59] DanielSank commented on #136
Actually I'm already writing this up.

[2015-07-08 02:06] DanielSank commented on #136
[Done](https://github.com/labrad/pylabrad/wiki/Writing-clients).

[2015-07-08 02:06] #136 closed

[2015-07-08 02:38] maffoo commented on #123
After discussing with @DanielSank, I think we're going to try the following for now: we'll use the regular github wikis for documentation. We've set the wikis to allow contributions only from people with commit access, but we've also added a `doc/wiki` tag so that people who have suggestions for documentation can just file an issue with that tag attached. No need for pull requests or reviews on wi

[2015-07-08 02:45] DanielSank commented on #123
We should also make the various readme files advertise, in very large type, how to submit documentation. Something like this

### Documentation

If you are not a committer to this repo but you'd like to contribute to documentation, please file an issue and add the "doc/wiki" label. We really like it when people do this.

[2015-07-08 03:26] maffoo commented on #123
good call, @DanielSank. Done.

[2015-07-08 03:27] #123 closed

[2015-07-09 04:47] jayich opened #137 "change WithUnit.base_value to WithUnit._base_value?"
If the base_value attribue should not be publicly accessible it should probably have an _, see https://github.com/labrad/pylabrad/issues/131#issuecomment-118999870.

Just wanted to make sure this formally got an issue.

[2015-07-09 23:10] maffoo commented on #129
I think the thinking there was we started recording changes that would go into the next version (0.93.2), but we never actually bumped the version number and did a release.

Since then, we have not been keeping that CHANGES file up to date, and to be honest I'd prefer to just rely on the git commit history if possible because it's hard enough to write good commit messages, let alone keep track of

[2015-07-10 03:03] maffoo commented on #103
Added some discussion of how this works in the [wiki](https://github.com/labrad/pylabrad/wiki/Writing-Servers#setting-decorator).

TL;DR: don't try to get clever with comments in the type tags in the setting decorator. Just put the basic tags and then describe things in words in the doc string.

(I realize that existing code does not always follow this advice, but I think it's the best thing for n

[2015-07-10 03:03] #103 closed

[2015-07-10 17:32] maffoo commented on #105
added to wiki: https://github.com/labrad/pylabrad/wiki/Writing-Servers#parameters-with-default-values

[2015-07-10 17:32] #105 closed

[2015-07-14 20:38] jayich commented on #39
@ejeffrey , are there any updates along the lines of saving matrices with data vault?  It looks like a lot of work has been done.  I see several seemingly relevant branches on martinisgroup/servers.  It looks like hdf5 is a potential option.  If this issue should be closed and moved to martinisgroup/servers we can do that.

[2015-07-15 17:15] maffoo commented on #39
yes, we should close this; @ejeffrey's new version of the datavault which adds extended data types and uses hdf5 for the backend storage is here: martinisgroup/servers#187.

[2015-07-15 17:15] #39 closed

[2015-07-20 21:42] zchen088 opened #140 "Float and Int zeros can be added to Values"
In [39]: 0.0+1*ns
Out[39]: Value(1.0, 'ns')

In [40]: 0.1+1*ns
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-40-081e8407e5cb> in <module>()
[code]

[2015-07-20 21:48] zchen088 commented on #140
Here's a python quirk I had never seen before:
[code]

[2015-07-20 22:13] DanielSank commented on #140
@ejeffrey I remember you talking about wanting to add this feature. Thinking about it now I'm not sure it's useful, and it seems like it could make certain operations succeed by accident where they should fail.

[2015-07-20 23:26] ejeffrey commented on #140
Yes, this feature is deliberate, if possibly ill advised.  The idea was
that I wanted to be able to compare to use expressions like:

if dt > 0:
   do stuff

without having to specify units on dt, since 0 ns == 0 s == 0 ks.  This
expression has a clear, unambiguous interpretation, and adding anything to
it tends to make it harder to understand, so I thought it was worth
supporting.  If it causes o

[2015-07-20 23:29] DanielSank commented on #140
TIL

I'm kind of for removing the ability to add e.g. `0` and `0*ns`. I don't think
[code]
is any harder to understand than without the unit, and the following makes me nervous
[code]

[2015-07-21 00:11] ejeffrey commented on #140
Maybe I am insufficiently creative, but I can't imagine what someone would
type "x - y == 0" and expect it to do anything other than "x == y".  I am
OK with surprising people by accidentally doing what they want, just not
doing the wrong thing when we could raise an error.  If someone can come up
with a realistic case where someone would actually make a bug that
enforcing units would solve I am fi

[2015-07-21 00:17] DanielSank commented on #140
The contrived example compares floats for equality. Seems dodgy. That said, so does my example, so probably it's all a wash.

[2015-07-21 00:46] ejeffrey commented on #140
OK, well you can have it return double roots for the equality case if you
don't like it.

On Mon, Jul 20, 2015 at 5:17 PM, Daniel Sank <notifications@github.com>
wrote:

[2015-07-21 01:01] DanielSank commented on #140
wut?

[2015-07-21 01:34] ejeffrey commented on #140
Not relevant to the matter at hand, but the only reason I did the
comparison for equality was so that I could return a single value when the
roots were degenerate.  If you just change 'if discriminant > 0' to 'if
discriminant >= 0' you can drop the equality clause and be fine.  But that
is beside the point which was not to write the best quadratic equation
solver, but to illustrate that it might b

[2015-07-21 02:47] DanielSank commented on #140
Ok so what's the plan here?

[2015-07-21 02:52] ejeffrey commented on #140
Did this cause a bug?  If this is just Jimmy wondering if something is
intentional, then I vote close as WAI.  If it caused a bug in pyle or
other, then we should try to remove it and see how much (if any) code in
pyle breaks.

On Mon, Jul 20, 2015 at 7:47 PM, Daniel Sank <notifications@github.com>
wrote:

[2015-07-21 02:55] DanielSank commented on #140
He raised this because there was a suspicious line in `gates.py` with `0` passed as the start time as an envelope. I think this is a works-as-intended (WAI) but I'll leave it to @zchen088 to close if he thinks it's appropriate.

[2015-07-21 16:39] maffoo commented on #140
I would be in favor of changing this behavior. I think having a special case for comparison to 0 goes against the spirit of dimensional safety that the units library was meant to provide in the first place. You can still do generic comparisons to 0 if you want: `x[x.unit] > 0` or `x > 0*x.unit`. It's a little trickier to write a function that does comparison to 0 and works for both values with uni

[2015-07-21 16:49] maffoo opened #141 "Units with offsets are problematic"
In thinking about #140, I was reminded of the horror show that is the implementation of units with offsets, e.g. degrees Fahrenheit and degrees Celsius. Supporting these leads to extra complexity in the library, and there are a lot of things that are just broken. For example, if I want to deal with _absolute_ temperatures, then I need to take the offsets into account when converting between, say,

[2015-07-21 17:43] ejeffrey commented on #141
I am happy to get rid of C and F and provide conversion functions.  We
could make that a bit nicer by:

1) Eliminating C and F units
2) Having Unit('C') and Unit('F') create special objects that convert to
kelvins, so 0*U.('C') constructs the object 273.16 K
3) having ['C'] and ['F'] continue to work on temperatures in Kelvin.
4) In line with (1), disallow inUnitsOf('C') and other operations that

[2015-07-30 21:48] DanielSank commented on #82
It's danielsank.

Thanks.

[2015-07-31 02:53] maffoo commented on #82
you are now added to the pylabrad package on pypi

[2015-07-31 02:53] maffoo commented on #82
I guess this issue is about more than just getting access to pypi, we should see about updating the package that is there.

[2015-08-17 18:05] chrismacklin opened #145 "Why are hard-coded setting IDs used?"
I understand the need for uniquely-numbered settings, but what I do not understand is why these IDs are not procedurally generated when a server is run.  Is there some need for these to remain persistent between sessions?  It seems much nicer to pass a generator to the ```@setting``` decorator rather than numbering the settings by hand.  Or, for that matter, modify the ```@setting``` decorator to

[2015-08-17 18:14] chrismacklin commented on #145
Well, I just answered my own question, but I really feel that this is a bug.

First, run a server with a numbered setting.  In another session,

[code]
Quit server, change setting number, restart server.
[code]

[2015-08-17 18:24] DanielSank commented on #145
It does seem like that's a bug in the client's `.refresh()`.

[2015-08-17 18:25] maffoo commented on #145
That is definitely a bug if refresh isn't working; I thought we had fixed it in #83, but there could still be issues. Are you on master?

As to your real question, it's true that we could change things so that the string setting names are canonical and the numerical IDs are autogenerated, it's just not how we did things. If I can recall back into the misty past when we did this originally, we want

[2015-08-17 18:27] DanielSank commented on #145
The other thing to keep in mind (maybe) is that if we were to use a network description layer instead of having clients discover settings at run time, static setting ID's would be a requirement.

[2015-08-17 18:37] chrismacklin commented on #145
Looks like the issue here goes to the heart of assumptions about settings.  When a setting's ```_refresh()``` method is called, it calls
```info = self._mgr.getSettingInfo(self._server.ID, self.ID)```
making the implicit assumption that a setting's ID never changes.  Seems dangerous; if I were to refactor a server I would need to ensure that settings have static IDs and that all of these IDs have

[2015-08-17 18:41] DanielSank commented on #145
PR's are greatly appreciated :-D

[2015-08-17 18:49] chrismacklin commented on #145
I'll take a crack at this, I think I see a fix.

[2015-08-17 19:07] chrismacklin commented on #145
Is the entire module ```manager.py``` deprecated?  ```labrad.connect()``` returns a backend.ManagerService object.  What is ```manager.AsyncManager``` there for?

[2015-08-17 19:15] maffoo commented on #145
I think if you try to hold on to a particular setting wrapper object, there might be problems; but if you do `cxn.myserver.mysetting` then it should all get hooked up properly (the server wrapper creates new setting wrapper objects after refresh). The unit tests added in #83 are supposed to check exactly the case you describe of a server being modified to renumber settings and then restarted.

[2015-08-17 19:27] chrismacklin commented on #145
The unit tests in #83 do not address this, as they re-use the same setting numbers 1 and 2.  I suspect if you change one of them to a different number, the tests will fail.  I can't confirm this as I'm having issues running the labrad tests.  The problem seems to stem from:
[code]

[2015-08-17 20:21] ejeffrey commented on #145
Do other clients (Delphi, Java, maybe labview) actually look up setting IDs
automatically, or are they hard-coded in the stub methods?

Evan

On Mon, Aug 17, 2015 at 11:25 AM, Matthew Neeley <notifications@github.com>
wrote:

[2015-08-17 20:47] maffoo commented on #145
Delphi and Java/Scala clients look up settings IDs based on the string names and then cache those IDs. It's been too long since I've touched LabVIEW, but as I recall the VIs for making requests would accept either a string or numerical id for a setting to call and it would look up IDs if you passed a string and do no caching locally (basically incurring one extra round trip to the manager per requ

[2015-08-17 22:37] chrismacklin opened #147 "Running pytest requires manually running python_test_server"
PR seems overkill; really this fact should just be noted in the pylabrad readme.  At the moment it just states that pytest is required and to run py.test.  Someone who can push directly please fix?

[2015-08-17 22:48] #147 closed

[2015-08-17 22:49] chrismacklin commented on #147
Thanks!

[2015-08-17 22:57] maffoo commented on #145
fixed by 7692b44a

[2015-08-17 22:57] #145 closed

[2015-08-20 19:31] chrismacklin opened #148 "Programmatically start/stop servers for unit tests?"
Is there a recommended way to start and stop servers programmatically to ensure that test suites do not require manually launching servers?

```test_refresh.py``` makes a call to ```util.syncRunServer(...server...)``` which seems fine to me, but I don't understand the implications of "Run a labrad server of the specified class in a synchronous context." from the doc for this function.

[2015-08-20 19:36] maffoo commented on #148
Running a server "in a synchronous context" means that your main code is synchronous (not driven by the twisted reactor) as it is in standard unit tests. the `util.syncRunServer` function was written for the purpose you describe, to spin up a server when running tests, so it'd be the recommended way. If you'd like to rework some of the old tests that currently assume a test server is running to us

[2015-08-20 19:40] chrismacklin commented on #148
I'm mostly interested in this for testing my own servers, but sure PR incoming as an exercise.

[2015-08-20 20:47] #148 closed

[2015-08-26 19:18] chrismacklin opened #150 "Cannot connect to manager during initServer call"
I can guess why this doesn't work, but really I have no idea.  Here's a minimal example:
[code]
prints
[code]
then hangs so hard I have to kill the entire terminal session.  Why can't I get a manager connection at this point in server configuration?

[2015-08-26 19:42] ejeffrey commented on #150
You shouldn't be calling connect() inside a server at all.  Once the
connection is up you should have a client connection that you can use to
make manager requests.

On Wed, Aug 26, 2015 at 12:18 PM, Chris Macklin <notifications@github.com>
wrote:

[2015-08-26 20:00] maffoo commented on #150
@ejeffrey is correct. Inside a server `self.client` is a connection object that you can just use; no need to connect again. Note that it is asynchronous, returning twisted `Deferred`s instead of blocking until responses are available.

To explain a bit more about what's going happening, the code in `initServer` is running in the twisted reactor thread. This is asynchronous code, meaning that inste

[2015-08-26 20:05] maffoo commented on #150
erm, that wiki page I linked to doesn't really explain what I thought it explained (it doesn't say anything about real asynchronous clients, just the fact that you can say `wait=False` with a synchronous client to have multiple requests in flight at once. The actual asynchronous stuff needs to be added.

[2015-08-26 20:06] maffoo opened #151 "Fail if the user tries to make a blocking network call from inside the reactor thread."
We should be able to detect this and fail instead of deadlocking like in #150.

[2015-08-26 20:07] maffoo opened #152 "Add docs about working with asynchronous clients, e.g. in servers"
Fill in the section on asynchronous code in servers on this page: https://github.com/labrad/pylabrad/wiki/Asynchronous-programming-HOWTO

[2015-08-26 20:17] chrismacklin commented on #150
Fabulous, thanks for the clarification.

[2015-08-26 20:21] chrismacklin commented on #152
This will be really helpful; I have some library code written that expects to be able to make requests using a client connection, and this code is all failing when I pass in the asynchronous client connection held by a running server.

[2015-08-26 21:00] maffoo commented on #152
It's unfortunately not possible to write code that works in both synchronous and asynchronous contexts. This is because you have to explicitly mark the points where your asynchronous code gives control back to the reactor, either by using Deferreds or by using a coroutine style with `inlineCallbacks` and `returnValue`. I definitely prefer the latter, because the code is easier to read and looks mo

[2015-08-26 21:00] #150 closed

[2015-08-26 21:09] chrismacklin commented on #152
Is there some code you could refer me to that demonstrates how to interact with ClientAsync?

[2015-08-27 01:43] chrismacklin opened #153 "syncRunServer does not execute stopServer method"
Minimal example:
[code]
prints
[code]
The server's stopServer method does not appear to be executed.

[2015-08-31 21:19] maffoo opened #156 "node should store log messages emitted by running servers"
Currently, output emitted by node-launched servers (e.g. stuff they write to stdout and stderr) gets captured by the node in a rolling buffer so you can look at the last few lines of output, but otherwise it just goes into the ether. We should set things up to actually save this output so that we can use it for debugging issues, etc.

[2015-08-31 21:19] pomalley commented on #156
+1
On Aug 31, 2015 4:19 PM, "Matthew Neeley" <notifications@github.com> wrote:

[2015-08-31 21:27] DanielSank commented on #156
Yay logging!

[2015-08-31 21:32] ejeffrey commented on #156
On linux we could do this via syslog.

[2015-08-31 21:43] DanielSank commented on #156
Are we *sure* VISA is a no-go on Linux?

[2015-08-31 22:17] ejeffrey commented on #156
We aren't sure, I am hoping it works.  Will be trying it out this week or
so.

On Mon, Aug 31, 2015 at 2:43 PM, Daniel Sank <notifications@github.com>
wrote:

[2015-08-31 22:25] pomalley commented on #156
I was totally unable to get visa to work on ubuntu (spent a couple hours on
it, even had brooks contact someone at NI). Would be great to hear
otherwise.
On Aug 31, 2015 5:17 PM, "ejeffrey" <notifications@github.com> wrote:

[2015-09-03 18:09] #156 closed

[2015-09-04 03:36] chrismacklin opened #158 "Value comparisons for infinity have different behavior from dimensionless floats"
[code]

This is due to the fact that \_\_cmp\_\_ for WithUnit is implemented as
[code]
and inf - inf = nan

[2015-09-04 03:39] DanielSank commented on #158
Oh boy. Units again.

[2015-09-04 03:50] chrismacklin commented on #158
I'm firing up the boiler in the engine of the never-ending-special-casing express.  WOO-WOO. ;0

[2015-09-04 03:55] ejeffrey commented on #158
Hmm... IIRC, WithUnit does comparison by converting to (a-b) ?= 0.
infinity - infinity == NaN.  I am not even sure that infinite units are
something we want to support, but if we do, they should work the same way
as floats.

On Thu, Sep 3, 2015 at 8:50 PM, Chris Macklin <notifications@github.com>
wrote:

[2015-09-04 03:56] ejeffrey commented on #158
Of course, when I say infinity - infinity == NaN, what I really mean is
infinity - infinity -> NaN.  NaN doesn't equal itself :P

On Thu, Sep 3, 2015 at 8:55 PM, Evan Jeffrey <ejeffrey@gmail.com> wrote:

[2015-09-04 04:18] DanielSank opened #159 "evalLRData needs to support Value where the units are None"
The lack of backward compatibility here causes failure when the data vault tries to read parameters from older data sets. As discussed with @maffoo a reasonable fix might be to send a special environment to the `eval` call which overrides the `Value` constructor to replace `None` with `''`.

[2015-09-04 04:31] chrismacklin commented on #158
Well, count me as one vote for the support of infinity with units.  For time, at least, it makes perfect sense.  "How long does this operation go on?  Forever."

[2015-09-04 22:02] chrismacklin commented on #158
I also really don't understand the explanation in the docstring of that method.
[code]

[2015-09-04 22:30] #153 closed

[2015-09-07 23:23] creilly commented on #31
I've tracked down the flattening "LABRADNODE" issue to the message updating listeners to the server's "status" message which is sent after a call to refreshServers(). The list of server information tuples is not being parsed correctly I guess.

I imagine that the web interface subscribes to these update messages so is it important that this parsing error being corrected?

[2015-09-07 23:34] maffoo commented on #31
@creilly, are you using the latest version of the node (e.g. from git master) or an old release version? I think this issue should be fixed (https://github.com/labrad/pylabrad/commit/d68b46889d0052379658ca9b3a98e1833bb3d6a4#diff-e9dcc2d0ea223930dd282273e5678163) but if you are still seeing it in master please file a new issue with as much detail of what you did as possible. Thanks!

[2015-09-08 00:31] creilly commented on #31
@maffoo yup that solved it : )

[2015-09-08 00:48] maffoo commented on #31
awesome!

[2015-09-08 06:35] DanielSank commented on #31
Close this issue?

[2015-09-08 13:21] maffoo commented on #31
It's already closed :)

[2015-09-08 20:14] ejeffrey commented on #158
In older versions of python, comparison operators (<, <=, =, >=, >, !=)
were implemented in classes by implementing a single special method
__cmp__() that returns '-1' for less than, '0' for equal, and '1' for
greater than.  The results for the individual comparison operators were
based on the result of __cmp__.  This avoids having to separately write 6
methods.  Unfortunately it doesn't support t

[2015-09-11 16:16] #159 closed

[2015-09-11 16:54] #137 closed

[2015-09-21 22:43] chrismacklin opened #162 "Python 3"
Has anyone put any thought into porting pylabrad?  This is especially appealing with the introduction of standardized static type hints in 3.5.

[2015-09-21 22:54] pomalley commented on #162
Last time I checked the issue with this was Twisted. Have they moved to Python 3 yet?

[2015-09-21 23:04] chrismacklin commented on #162
Hmm, looks like their 2 to 3 port is only at ~50% by line coverage:
http://labs.twistedmatrix.com/2015/09/twisted-devlog-september-2015.html

I don't know enough about which features pylabrad uses to have any idea if the twisted services in use are among those which have been ported.

[2015-09-21 23:04] joshmutus commented on #162
I thought python 3 had it's own asyncronous something something which could
effectively replace twisted.

On Mon, Sep 21, 2015 at 3:54 PM pomalley <notifications@github.com> wrote:

[2015-09-21 23:06] chrismacklin commented on #162
Simultaneously trying to both port the library to 3 and replace a core dependency sounds pretty painful to me...

[2015-09-21 23:06] maffoo commented on #162
There's (still) no version of twisted for python 3, and I'm not holding my breath (it's a really slow-moving project and they seem to be more concerned about stability than anything else).

I did an experiment a while back to see what it would take to get things running on python 3 (see [this branch](https://github.com/labrad/pylabrad/tree/u/maffoo/python3)). The biggest issue I ran into was deali

[2015-09-21 23:22] ejeffrey commented on #162
BTW, I am fine with forking pylabrad and having a python 3 version that
supports new features and a python 2 version that gets bugfixes only.
Obviously we would want to strive for as much compatibility as possible,
but if major parts of the backend need to be rewritten to support a new IO
system with no backport available, I would rather have separate branches
than add an extra layer of abstractio

[2015-09-21 23:33] ejeffrey commented on #162
I should add: I think we need to solve the unicode issue in the existing
python 2 codebase before we can really contemplate moving to python 3.
That is definitely the trickier part.  Re-implementing the IO stack is a
fair bit of work, but it is somewhat self contained.  As long as we are
just switching to another single threaded async io platform, I don't think
it is too onerous.

Matthew and I ha

[2015-09-21 23:37] strj commented on #162
My drive-by $0.02 is that having encoded string and bytes types is A Good Thing that will make things a lot clearer in general and could pave the way to moving to better defined apis between servers with e.g. [proto3](https://developers.google.com/protocol-buffers/docs/proto3?hl=en#scalar).

[2015-09-22 00:17] pomalley commented on #162
re: string vs unicode, I think there is a non-negligible amount of 's' out
there that is actually bytes in the various device servers (i.e.
downloading data from a scope, etc). Maybe it's worth going through and
fixing those manually but I'd also bet that other groups also use 's' for
byte data as well.

On Mon, Sep 21, 2015 at 7:37 PM, strj <notifications@github.com> wrote:

[2015-09-22 00:29] maffoo commented on #162
My thought is to introduce a byte type (let's say we call it `w8`) so that byte strings would just be `*w8`. Then, as @pomalley suggests the existing places where we use `s` for binary data could be converted to `*w8` and once that is done we can just silently redefine `s` to assume utf-8 encoding for text data. We'd still need a better mechanism to specify what python types to use when unflatteni

[2015-09-22 02:35] ejeffrey commented on #162
Most of our instruments are used in ASCII mode, which would be compatible
with unicode.  There are definitely a few that use binary data for the
"download waveform" command, and the FPGA and direct ethernet servers use
it extensively for transferring packet data.  However, I think this is
still a relatively small number of settings.

Note that plain ASCII is a valid encoding of unicode, so device

[2015-10-16 23:11] jayich opened #167 "tab completion not showing labrad servers on Windows"
Has anyone else seen the following behavior on a Windows machine?

When using an IPython (4.0.1) shell and pylabrad (0.93.1) I run the following

[code]
Then running tab completion I do not see any of my servers.

[code]
Provides a list of all my servers.

On a different Windows machine with IPython (3.2.0) I can see the servers.

[2015-10-16 23:53] maffoo commented on #167
The connection object implements a method called `_getAttributeNames` that returns a list of dynamic attribute names for tab completion. I think this name was defined by a really old python interactive shell called pycrust, so various projects used it and ipython thus also invoked that method when attempting tab-completion. I presume support for this has been removed from IPython 4, though I haven

[2015-10-16 23:53] ejeffrey commented on #167
We just noticed this recently on ipython 4.  Not sure what the problem is
yet.

On Fri, Oct 16, 2015 at 4:11 PM, jayich <notifications@github.com> wrote:

[2015-10-19 17:47] #167 closed

[2015-10-20 17:13] ejeffrey opened #169 "Node should reload on SIGHUP"
SIGHUP is a standard way to tell daemons on UNIX to reload their configuration files.  systemd will try to use this of you say "systemctl XYZ restart", and this can be triggered from package updates.  It would be nice if we could update server binaries, then automatically refresh the list of available servers so that we aren't running out of date servers accidentally.

[2015-10-20 21:25] #158 closed

[2015-10-20 21:35] ejeffrey commented on #76
Closing since this seems to be just a discussion without an obvious resolution.

[2015-10-20 21:35] #76 closed

[2015-10-20 21:36] ejeffrey commented on #110
Closed via #125

[2015-10-20 21:36] #110 closed

[2015-10-21 01:25] jwenner opened #172 "Unable to run node"
As far as I can tell, I'm unable to run the LabRAD node. On current pylabrad master branch (after TLS), scalabrad 0.5.1, Java JVM 1.8.65 (new current version as of today).

I tried to open the scalabrad manager (using the `--registry=file:///R:/_LabRADRegistry_/?format=delphi --tls-required=false` flags), the LabRAD node, and the LabRAD browser batch file as usual. When I tried accessing the brows

[2015-10-21 01:28] maffoo commented on #172
How are you invoking the node? Are you running the node on the same host as the manager? Are you able to establish a client connection to the manager from the python console?

[2015-10-21 01:33] jwenner commented on #172
1. Invoking the node using a shortcut on the desktop with the following target: `C:\Python27\Scripts\twistd.py -n labradnode --host localhost`

2. I am indeed running the node on the same computer as the manager.

3. I can connect to the manager from an IPython session.

4. I've now tried using scalabrad 0.4.0 and scalabrad 0.5.1 without the `tls-required` flag. Each way, I have the same behavior

[2015-10-21 01:35] maffoo commented on #172
Did you install pyOpenSSL?

[2015-10-21 01:37] jwenner commented on #172
Yes. Using pip - version 0.15.1

[2015-10-21 01:38] maffoo commented on #172
I'm not sure whether the pip version of pyOpenSSL works on windows (to check, try connecting in ipython with `cxn = labrad.connect(tls='starttls-force')Also, you might try running the node directly by invoking `labrad\node\__init__.py --host localhost`. That twistd plugin isn't really being maintained and

[2015-10-21 01:44] jwenner commented on #172
1. Connecting to cxn using this tls option indeed works. The first time, I got the dialog to press S; after doing so, I tried again and did not get this dialog. Both times it worked.

1. I tried running the node using a shortcut to target `C:\pylabrad\labrad\node\__init__.py --host localhost`. This time, I got the following error message:
[code]

[2015-10-21 02:06] maffoo opened #173 "Node error messages are not helpful when node fails to start"
If the node fails to start, we get an unhelpful mess of error messages like this:
[code]
This seems to be due to the fact that the `NodeServer.stopServer` method is being called even though the connection was never established and so `NodeServer.initServer` did not run to completion. As a result, the `initMessages` call in `stopServer` fails and gives these errors. We should fix this so that the a

[2015-10-21 02:35] #172 closed

[2015-10-24 07:29] ejeffrey commented on #46
Hi Andrew,

Check out PR #177, which addresses this issue.

[2015-10-25 04:09] jayich commented on #46
This is great.  Thank you Evan.  I'll try out the custom_unit branch.

[2015-10-28 01:48] jayich opened #178 "node wiki update?"
We are having trouble with our node when on commit 78939f5.  I am wondering if the wiki needs an update here.  From what I gather the command

[code]

is outdated.

[2015-10-28 14:23] maffoo commented on #178
I've updated the wiki page for the node to include the latest info. Please take a look and let me know if you see any other issues. Sorry for the confusion, but thanks for pointing out the discrepancy in the docs.

[2015-10-28 18:36] jayich commented on #178
When we run the command

[code]

We are getting an error

[code]

I think this is the tip of the iceberg, as there is some other behavior we don't understand.

[2015-10-28 18:41] jayich commented on #178
I have a feeling we are missing something very basic, like not specifying a path to labrad.node.

[2015-10-28 18:42] ejeffrey commented on #178
You you have a full stack trace?  self.runners is initialized in
NodeServer.initServer, so something must be happening before that, or
initServer isn't being called.  My guess would be that for some reason the
server isn't starting up properly and stopServer() is being called even
though initServer() never succeeded.  stopServer tries to shut down all
running services.

On Wed, Oct 28, 2015 at 11:

[2015-10-28 18:44] ejeffrey commented on #178
OK, I have reproduced this, hope to have it figured out shortly.

On Wed, Oct 28, 2015 at 11:41 AM, jayich <notifications@github.com> wrote:

[2015-10-28 18:51] ejeffrey commented on #178
Hi andrew,

I just did a history search, and this was introduced with https://github.com/labrad/pylabrad/commit/53dc69b7de08a40a375f74d7c719d3dbea498e58 which added TLS support and was supposed to be fixed in https://github.com/labrad/pylabrad/commit/7393b36758e36d86203775cb67b3f1aad7c9a8ec, but apparently only partially worked.  As a workaround, you can set the environment variable LABRAD_TLS=no.

[2015-10-28 20:19] jayich commented on #178
Great, this works:  LABRAD_TLS=off.  Thank you Evan.

[2015-10-28 20:30] ejeffrey commented on #178
So I have tracked this down to the version of twisted.  crypto.py uses calls from twisted.internet.ssl that are only available in twisted 14.0.0 and later.  The version of twisted that is shipped with the current release of ubuntu LTS is twisted 13.2.0.  I will have to get @maffoo to comment on whether this is necessary.  It also looks like the twisted.internet.ssl module is not the recommended wa

[2015-10-28 21:06] ejeffrey opened #179 "Need requirements.txt and travis build must use exact requirements"
We need a requirements.txt file for the minimum requirements of numpy, scipy, twisted, et al. and the travis build must use those versions, not the latest version from pip.

[2015-10-28 21:08] ejeffrey commented on #179
We should also try to avoid depending on too-recent versions of packages unless necessary.

[2015-10-28 21:33] ejeffrey commented on #179
I have created a branch for this in u/ejeffrey/requirements

One problem here is that it has to rebuild numpy each time to use the version I specified.

[2015-10-28 21:37] maffoo commented on #178
Good find, @ejeffrey. See also #173 about the lack of good error messages when the node fails to start. I've added some notes in the wiki about configuring the node, so closing this for now. We can discuss twisted versions in #179.

[2015-10-28 21:37] #178 closed

[2015-10-28 21:40] maffoo commented on #179
You can just do `pip install -r path/to/requirements.txt` in the travis build description.

[2015-10-28 21:43] maffoo commented on #179
Oh nvm, I guess the requirements files allows later versions but you want to use the earliest possible for the travis build.

[2015-10-28 21:55] ejeffrey commented on #179
OK, well I came up with a solution... https://github.com/labrad/pylabrad/commit/3236d26155a48bb183be78ff5baf2cc27b8988e5

[2015-10-29 05:02] #173 closed

[2015-10-30 06:46] zchen088 opened #183 "None and units"
When I multiply a unit by ```None```, I get the unit back. Is this intended behavior?

[2015-10-30 06:54] DanielSank commented on #183
For example
[code]

[2015-10-30 13:57] maffoo commented on #183
I think that is vestigial behavior from the olden days when you could have `Value(1, None)` which was different from `Value(1, '')`. In the former case the actual `unit` attribute would have been `None` and I guess the unit multiplication included the logic to handle that case. Clearly we can get rid of this now and throw a TypeError as you suggest.

[2015-10-30 15:18] #183 closed

[2015-10-30 17:14] ejeffrey commented on #118
We need to merge #175 so we can see the performance impact of fixing this

[2015-10-30 17:19] ejeffrey commented on #84
I am going to wait until numpy 1.11 to fix this.  numpy 1.11 will have sensible overloading of ufunc() operators, which will let us do np.abs(), np.isnan(), np.isinf(), and also let trig functions like np.sin() work on ValueArray's with 'radian'.

[2015-11-02 22:12] jwenner opened #186 "Unable to connect from other computers"
When I try to call `labrad.connect()` from a computer besides the manager computer, I get a `Connection lost.` message. Running current master of pylabrad on client computer. Running scalabrad 0.5.1 on server computer using shortcut target `"C:\Program Files\Java\jre1.8.0_65\bin\java.exe" -cp lib/* org.labrad.manager.Manager --registry=file:///R:/_LabRADRegistry_/?format=delphi --tls-required=fals

[2015-11-02 22:14] jwenner commented on #186
Note that if I call `labrad.connect(tls='off')`, it works. However, as `labrad.connect()` is used throughout pyle, this is not a suitable solution.

[2015-11-02 22:37] maffoo commented on #186
@jwenner, I'm guessing this is a problem with the TLS host configuration of the manager. By default it starts with a certificate with a hostname of 'localhost', and you're trying to validate that against the hostname you connected to, say 'trench.physics.ucsb.edu', so the validation fails. I just pushed a change in scalabrad that will include a certificate bound to the machine hostname in the defa

[2015-11-05 00:06] jwenner commented on #186
@maffoo, restarting the manager with the change you suggested (i.e., specifying `--tls-hosts` as you indicate) indeed works. Thanks!

[2015-11-05 00:32] #186 closed

[2015-11-06 18:16] zibrov-zlobin opened #187 "Working with Datavault signals"
Hi,
I am trying to understand how the signaling works based on the Datavault code.
I've written a simple listener client (taken from https://github.com/labrad/pylabrad/wiki/Pylabrad-Signal-Slot-Example):
[code]

and from a python shell:

[code]

If I create a new data set:
[code]

Then I do get an output from the client, "Signal received is printed". But if I change the client to listen for `yield

[2015-11-06 18:28] DanielSank opened #188 "signal example shouldn't rely on a pyqt GUI"
The [signal example](https://github.com/labrad/pylabrad/wiki/Pylabrad-Signal-Slot-Example) is overly complicated by the use of a GUI and should be simplified.

[2015-11-06 18:29] maffoo commented on #187
The data available signal is only sent to clients who have a particular dataset open for reading, so you'd need to call `self.server.open(dataset)` to start receiving signals about data being added to a particular dataset.

In addition, the server keeps track for each reader whether it has sent a signal, and whether you have fetched more data. Each client will only be sent one data available messa

[2015-11-06 18:37] DanielSank commented on #187
I just filed an [issue about documenting the signals in the datavault server](https://github.com/martinisgroup/servers/issues/254). Let's not close this issue until the documentation goes in.

[2015-11-08 00:01] zibrov-zlobin commented on #187
Thanks a lot!
Makes much more sense now

[2015-11-08 00:10] zibrov-zlobin opened #189 "GPIB server read/write termination characters"
I have a feeling this might be an annoying topic, but we have an old Oxford magnet power supply that communicates through GPIB returning strings terminated by "\r". Any other options result in a timeout.

Any suggestions on what would be the best way to alter the gpib_server.py to be flexible with writing and reading termination characters?  I'd be happy to do that.

[2015-11-08 01:53] DanielSank commented on #189
You have no idea. Yes. Yes it is.

However, because it's so annoying we really *really* should find a good solution that's robust. I'm a bit distracted with something else at the moment but I'd be very happy to help you figure this out.

[2015-11-08 04:50] ejeffrey opened #190 "Node had weird argument parsing"
if I run:

python /path/to/node/__init__.py -s off

I get a config parsing error, even though the help text says that is the way to set the SSL mode

[2015-11-08 04:52] jwenner opened #191 "Print server output when run directly but not in node"
For a server, is it possible to print output to the screen when the server is run directly but not to print the output when run in the node? I'd like to do this to enable server diagnosis, but the print output could be too much for the node. (See martinisgroup/servers#255 for context.)

Note that both logging and sys.stderr/stdout seem to print to both the node and the screen.

[2015-11-08 04:52] DanielSank opened #192 "Say _something_ about the existence of the node in the readme"
As it stands, I can't imagine how anyone not already familiar with the system would know what it is, what it does, or how to start it.

[2015-11-08 05:12] ejeffrey commented on #191
Hi Jim,

Can you be more specific about "too much for the node"?  We probably should do a better job of log management from the node, but I don't think it should be overwhelmed by the stuff you are talking about.

[2015-11-08 05:23] jwenner commented on #191
During certain cases of normal operation, there could be messages resulting from the mks server change every second or so. This is because, during a cooldown, some of the pressures (i.e., the still and likely the low-pressure pot) are >10torr and so are out of range.

[2015-11-08 06:47] maffoo commented on #190
The new canonical way to start the node is to run `python -m labrad.node`, but that's orthogonal to the ssl mode parsing issue of course.

[2015-11-08 16:49] ejeffrey commented on #191
I don't think a message every second should be a problem, and if it is, I
would like to fix that.

Nevertheless, generating 50,000 'overpressure' warnings in a row is
probably not useful.  The typical way to fix this is to display the warning
only once, and then remember that the gauge is out-of-range and not display
another error until it is back in range.

On Sat, Nov 7, 2015 at 9:23 PM, Jim Wen

[2015-11-08 18:09] DanielSank commented on #191
probably not useful.  The typical way to fix this is to display the warning
only once, and then remember that the gauge is out-of-range and not display
another error until it is back in range.

+1

[2015-11-09 16:49] pomalley commented on #192
Well, there *was* a note about it in the readme...

c0edacd3a62dc67880f26e4bbab940e07c9f3579

[2015-11-09 23:41] DanielSank opened #193 "Enable node to show running servers started independently of itself"
It would be nice for the node to subscribe to whatever messages are needed such that it would know about servers started independently of itself. I suppose it might be a bit of work to enable it to *stop* servers it didn't start, but just showing running servers as running would be great.

[2015-11-09 23:56] maffoo commented on #193
The scalabrad-web interface shows all servers that are running, regardless of whether they were started by the node or not. It's a different screen than the node interfaces, but the information is there. Where would you want to surface this information?

[2015-11-10 00:14] DanielSank commented on #193
This is definitely the wrong place for this issue. Sorry.

[2015-11-10 00:14] #193 closed

[2015-11-10 05:25] #190 closed

[2015-11-10 17:06] ejeffrey commented on #191
I am closing this, I don't think we need this feature, but I would happy to review a change to the mks_server to group out-of-range errors.

[2015-11-10 17:06] #191 closed

[2015-11-10 22:36] jayich opened #195 "docstring example(s) on the wiki"
Including example docstrings in the Writing Servers (https://github.com/labrad/pylabrad/wiki/Writing-Servers) on the wiki would be helpful.  I would put an example in this issue, but I keep getting my server docstrings mixed up...

label: doc/wiki

[2015-11-12 16:17] chrismacklin commented on #152
I don't quite understand Python's threading model well enough yet to answer this question.  If I call a function using ```twisted.internet.threads.deferToThread```, does it just pass references to the arguments?  Or are they pickled/otherwise copied before being handed off to the twisted thread pool?  I suspect the former, but I'd love to hear a real answer before I go ahead and code this as the p

[2015-11-12 17:46] ejeffrey commented on #152
It just passes references, so you need to make sure that the main thread
doesn't muck about with it, use locks, or copy the data yourself if needed.

The python threading model is a fairly standard "shared everything" thread
model -- global, module, and instance variables are shared.  Local
variables (what would be stack variables in C/C++) are per-thread, but the
objects to which they refer are s

[2015-11-12 17:47] chrismacklin commented on #152
Got it, thanks!

[2015-11-12 23:32] DanielSank opened #196 "Emphasize that servers support exposure of doc strings over LabRAD"
Where should we put this information? Where do we document the fact that LabRAD supports server setting documentation?

@maffoo thoughts?

[2015-11-13 00:29] ejeffrey commented on #196
More to the point, none of the scala servers have documentation strings.
This requirement needs to be added to the style guide.  Pylabrad
automatically uses the method docstring, which should be there anyway (and
is already in the style guide).

On Thu, Nov 12, 2015 at 3:32 PM, Daniel Sank <notifications@github.com>
wrote:

[2015-11-13 00:56] DanielSank commented on #196
is already in the style guide).

Good point. I've just discovered that in scalabrad there's a `doc` argument to the `@setting` decorator. The string passed into `doc` shows up as the LabRAD doc string. I can't tell yet if there's a way to access documentation associated to a scala function (cursory Google searches indicate not).

+1

[2015-11-14 00:17] chrismacklin opened #197 "tab-completion of dynamic attributes is broken in iPython 4.0"
Probably due to the totally undocumented (and likely deprecated and now removed) mechanism that pylabrad uses to expose the dynamic attributes (```_getAttributeNames```).

[2015-11-14 00:54] DanielSank commented on #197
Didn't someone address this a couple weeks ago?

[2015-11-14 01:38] maffoo commented on #197
Yeah, this is fixed in master.

[2015-11-14 01:49] ejeffrey commented on #197
#168 is the PR that fixed this

[2015-11-14 03:06] chrismacklin commented on #197
Great!  (Already) closed by #168

[2015-11-14 03:06] #197 closed

[2015-11-15 23:18] maffoo commented on #196
The pylabrad setting decorator is documented fairly thoroughly in the wiki: https://github.com/labrad/pylabrad/wiki/Writing-Servers#setting-metadata. We could certainly add more detail or emphasize certain things there.

It's hard to know what's most important to emphasize, of course. The last you happened not to know and just figured out after a lot of digging usually tends to seem like the most

[2015-11-15 23:25] DanielSank commented on #196
I was thinking more in the LabRAD repo.

[2015-11-15 23:55] ejeffrey commented on #196
I don't think the documentation is particularly lacking.  I just think we
need the example servers to actually do it.  I can't speak for everyone,
but if I want to write a server, the first thing I am going to look for is
an example to follow, rather than proactively search documentation for a
feature I don't know about.  Documentation should be there for those things
that you say "I wonder how yo

[2015-11-16 00:04] DanielSank commented on #196
An example server that does this counts as documentation to me :)

[2015-11-17 20:24] maffoo commented on #187
Closing for now as this has been answered. See #254 where we are tracking actually adding this to the docs.

[2015-11-17 20:24] #187 closed

[2015-11-18 20:54] maffoo commented on #195
What kinds of things do you want to see documented in an example? There are lots of short setting docstrings there; are you looking for example of how to format them? Or maybe an example of a docstring for the whole server? I hesitate to be too prescriptive because the basic idea is just to write docstrings like you normally would for any public python method or class, just remembering that the do

[2015-11-18 20:57] maffoo commented on #196
The [test_server](https://github.com/labrad/pylabrad/blob/master/labrad/servers/test_server.py) has docstrings on _almost_ all of its remotely-callable settings. Is there anything in particular that you think is missing there?

[2015-11-18 22:50] jayich commented on #195
Ah, thank you @maffoo & @ejeffrey.  This issue is resolved for me.

[2015-11-18 22:50] #195 closed

[2015-11-18 23:24] maffoo opened #199 "Update docstring on setting wrappers to include labrad docs"
Currently the docstring of a client-side setting wrapper is a generic string about how to call the setting, and only the str or repr of the object contains the labrad docstring. This means that things like ipython magic which truncate the repr do not properly include the docs (see #195). The setting wrapper should update its docstring to include info about the remote setting.

[2015-11-18 23:42] ejeffrey commented on #199
I think for this to work right we also need to remove the class-level
docstring for the wrapper classes so that ipython doesn't show that in
addition to or instead of the per-object docstring.  I think the way to do
this is to put a statement like:

class SettingWrapper():
    None # This avoids having a docstring
    """Wrapper for an individual setting on a server..."""

at the beginning of the

[2015-11-19 00:45] DanielSank commented on #196
Actually, now that I think about it, the best place for this information is probably in the setting decorator and LabradServer class.

[2015-11-19 01:20] maffoo commented on #196
You mean a note in the LabradServer class docstring indicating that the docstring given to subclasses will be visible to labrad clients?

[2015-11-19 02:03] DanielSank commented on #196
Yeah, and similarly that the docstrings given to functions wrapped by `@setting` are exposed as well. This should *probably* be noted in the wiki entry on writing servers too, because I bet almost nobody reads the code for `LabradServer` and/or `setting`.

[2015-11-19 02:03] #192 closed

[2015-12-04 19:51] DanielSank opened #200 "Set up auto-pypi update"

[2015-12-22 00:04] jayich opened #201 "Recommended method to round WithUnit instances?"
For hardware related tests to be cross computer compatible I am would like to round WithUnit instances.  Is there a recommended way to perform this rounding operation?

[2015-12-22 00:08] maffoo commented on #201
You probably want to get the numeric value expressed in a particular unit, then round or do whatever operation on the value, then tack the units back on, so something like:
[code]
where `unit` is a `Unit` object.

[2015-12-22 00:11] jayich commented on #201
Thank you @maffoo

[2015-12-22 00:11] #201 closed

[2016-01-05 00:51] zibrov-zlobin opened #203 "Updating pylabrad with pip"
It seems that the package in pip doesn't have the latest changes to the datavault.
had to do the following to update:
[code]

[2016-01-05 01:06] DanielSank commented on #203
Ok, thanks. I wonder if we can setup a hook to update pypi when we tag a commit.

[2016-01-09 03:24] jwenner commented on #129
Since pylabrad on pypi (https://pypi.python.org/pypi/pylabrad/0.94.0) has now been updated, can we close this?

[2016-01-09 03:24] jwenner commented on #82
Can we close this as pypi has now been updated?

[2016-01-11 09:03] patzinak commented on #141
I wasn't sure whether this is worth of opening a separate issue but I have been several times confused by the principles behind the units compatibility, especially during a transition from an obsolete to the current module version.

Are there any fundamental reasons apart from the implementation problem that the following statements should not return `True`.
[code]
The first case is the least ques

[2016-01-11 17:08] ejeffrey commented on #141
3 is pretty questionable.  On the one hand, radians are technically
dimensionless, on the other hand, if that is the case, why bother having
the radian unit at all?  I would want to see an evaluation of potential
errors that keeping them separate can fix, as well as use cases that make
sense that break when '' and 'rad' are not compatible.

1 & 2) I have been thinking about ways to do dBm and dB t

[2016-01-13 03:06] patzinak commented on #141
As for (3), I kind of prefer seeing `units.rad` being a separate unit from `units.Unit('')`. When properly used, this should certainly help to avoid lots of unintended situations but, of course, creates a problem when someone evaluates the sum of a phase and a product of time and frequency. There are two equally good or bad workarounds: either do not use radians or do explicit unit conversion, whi

[2016-01-13 04:30] ejeffrey commented on #141
The real problem with dB/dBm and degC/degF is not so much refactoring to
support "correct" behavior, but defining correct behavior.  It is really
hard to come up with a consistent set of rules for how those units interact
with other units.  The problem with dB[m] is that you probably want to it
act logarithmic sometimes.  Basically it comes down to this:  are you
willing to accept "10 dB + 10 dB =

[2016-01-13 09:44] patzinak commented on #141
This actually answers my original question about the principles. I understand now that the answer is that we don't have/haven't yet come up with a good set of rules not only for units compatibilities but for many other things related to them such as operations on the units and unit conversions.

Not pretending to give a fully consistent picture, let me formulate my thoughts more clearly if this co

[2016-01-13 10:16] patzinak commented on #141
Another option: introduce two more units like `DdegC` and `DdegF` (D stands for Delta or difference) and forceful, slightly untrivial conversion methods. This way if someone writing a bake-out controller, this person can write something `if temperature < 200 * degC: increase_temperature(1 * DdegC); wait(1 * min)`. `10 * degC == 10 * K` is False but `10 * DdegC == 10 K` is True. This is a mess but

[2016-01-25 17:07] maffoo commented on #129
Closing as suggested by @jwenner. You'll note that there is no more `labrad.__version__`. Instead, the version information is created at build time and placed in the `labrad.version` module. The versions are based on git tags.

[2016-01-25 17:07] #129 closed

[2016-01-25 17:07] maffoo commented on #82
Closing as suggested by @jwenner now that we have the build scripts fixed up.

[2016-01-25 17:07] #82 closed

[2016-01-26 02:12] jayich opened #206 "old pylabrad files on sourceforge"
pylabrad code is hosted here:

http://sourceforge.net/projects/pylabrad/files/pylabrad/

It is probably best to redirect to GitHub. It is possibly a good idea to remove the hosted versions of pylabrad on sourceforge.

[2016-01-26 02:14] jayich opened #207 "pylabrad modules on sourceforge"
Similar to issue https://github.com/labrad/pylabrad/issues/206, I wanted to make sure that the appropriate people are aware of likely old modules hosted on sourceforge here:

http://sourceforge.net/projects/labradmodules/

Redirection is probably appropriate here as well.

[2016-01-26 02:27] jwenner commented on #206
@maffoo

In addition, should we migrate any of the old Sourceforge wiki over here (as noted in #98), or is it all so antiquated that it is useless? I suspect that the tutorial (http://sourceforge.net/p/pylabrad/wiki/MainTutorial/) would probably fail as the fractal server no longer exists, but maybe something might still be reasonable to port over?

[2016-01-26 17:54] maffoo commented on #206
I added links on the sourceforge page to the github project for development and PyPI for packages. I also removed the files for download and the code repos from the sourceforge page.

[2016-01-26 17:56] maffoo commented on #206
As for the wiki, the info from the main page has been moved to the github wiki: https://github.com/labrad/pylabrad/wiki. The tutorial series does indeed seem rather out of date, so I don't think we need to migrate that, but we should continue to improve the docs here. I'll leave that to do as part of #98.

[2016-01-26 17:57] #206 closed

[2016-01-26 18:04] maffoo commented on #207
I added a link on the sourceforge page to direct people to the martinisgroup/servers repo, where current server development is happening.

[2016-01-26 18:04] #207 closed

[2016-01-26 21:45] thchwhite opened #208 "Sub-list of servers for the node"
There should be node code for creating a sub-list of servers.  This is useful for smaller systems where most of the labrad servers are unused.

[2016-01-26 21:51] maffoo commented on #208
The autostart list already sort of provides this functionality. It's just one list per node, but I don't think we have a need for more than that (if you think otherwise, please describe the situation you're imagining).

[2016-01-27 01:02] jayich opened #209 "Environment variable documentation"
I could not find documentation of labrad's environment variables.  A handful are mentioned on "The Node" page of this wiki.  This wiki might be a good place to document them all in one place.  I have copied and pasted our lab's notes on labrad's environment variables for starters:

These are system variables that you need to set.
LABRADNODE - this gives the node name of the computer
LABRADPASSWORD

[2016-01-27 01:11] maffoo commented on #209
Thanks for the idea to document these better, @jayich. I'll add a wiki page. I should note that LABRADPORT, LABRADHOST and LABRAD_TLS all have default values. These really only need to be set if you want to override the defaults, and of course they need to correspond to what the manager is expecting.

[2016-01-28 18:43] maffoo commented on #209
Added wiki page: https://github.com/labrad/pylabrad/wiki/Configuration

[2016-01-28 18:43] #209 closed

[2016-01-28 20:13] jayich commented on #209
@maffoo , the wiki page looks great.  Perhaps include LABRADNODE as well.

[2016-01-28 20:27] maffoo commented on #209
done.

[2016-02-03 19:35] zchen088 opened #213 "Faster units`"
@ejeffrey, you mentioned a while back that you had code to make unit computations 100x faster. Is there any chance we could get that deployed?

[2016-02-03 20:39] ejeffrey commented on #213
Yes.  The code as it currently stands is in u/ejeffrey/fast_units under pylabrad/labrad/fast_units.py and pylabrad/labrad/unit_array.c.  There are a couple of caveats that need to be addressed before we deploy it:

1) Hasn't been tested against the existing python version.
2) The module contains C code that has to be compiled.  So we need to figure out how to deploy it in the least painful fashion

[2016-02-03 22:55] DanielSank commented on #213
One possibility (for which I vote) is to make this library external to pylabrad and put it on PyPI. Then we can make wheels etc. and nobody has to do anything tricky to install it, including Windows users.

[2016-02-03 23:23] maffoo commented on #213
@DanielSank, pylabrad wheels are already on PyPI, so that in itself is not an argument for splitting this out from pylabrad (the current wheels have no C extensions and so are platform independent, but still). That being said, I like the idea of having this unit library be external to pylabrad proper. The question would then be how to make it possible to use the library with pylabrad. I'd prefer t

[2016-02-03 23:33] DanielSank commented on #213
Well, given that everyone currently has a "dev" version of pylabrad checked out in their file system and has their pythonpath including that, I do think having the units library separated out as an installed lib is different, but whatever.

[2016-02-05 23:49] DanielSank commented on #55
@ejeffrey this is now taken care of?

[2016-02-10 00:17] zibrov-zlobin commented on #189
So, I've been putting off this for a while and now it backfired.
Any suggestions on how to go about adding the termination characters?

Only the gpib_server.py does actual device interfacing.  Every time it refreshes the device list it acts unknowingly of anything that the device sever or the gpib device manager does. It populates the list of instruments directly using pyvisa and then this list is

[2016-02-10 02:19] patzinak commented on #189
Here what I would try, though, as a disclaimer, this might be not in line with the vision of this repository owners and I don't know exactly how the termination problem exhibit itself in this particular example (is the identification of other devices on the bus impossible?).

First of all, notice that code in this repository and the one in the Haeffner Lab repo are based on different pyvisa versio

[2016-02-10 10:10] DanielSank commented on #189
If the `*IDN?` query fails, then the GPIB device manager checks its list of servers who know how to identify their own devices. It then notifies these servers of the existence of the new GPIB resource so that each server has a go at trying to identify the device. I don't remember exactly how the hook works, but it's something like a method called `ident_func`. This is the proper way to identify an

[2016-02-10 18:26] zibrov-zlobin commented on #189
@patzinak  thanks@
@DanielSank  I'll give it a go. Though I don't believe it would be possible to completely remove the termination characters from all the layers aside from the device wrapper. Since the read termination characters are out of the reach of the wrapper.

[2016-02-16 22:45] zchen088 opened #216 "Integer arrays can't be flattened to float arrays"
[code]

[2016-02-19 00:32] roboguy222 opened #218 "Signals vs. Named Messages"
The wiki has a nice tutorial on signals, but a lot of the servers (gpib_server.py and gpib_device_manager.py, for example) use "named messages" instead of signals, it seems.  What is the difference, and when should one use each?

In upgrading from delphi labrad manager to the newer scalabrad, I noticed these named messages did not seem to be working anymore in my servers.  It is entirely possible

[2016-02-19 02:27] ejeffrey commented on #218
Named messages  are more like global broadcasts, and don't require the
client and server to directly know about each other.  For instance,
multiple servers (serial, GPIB) can provide "new device available" signals
without the GPIB device manager having to know about each possible server.

Regular signals are typically only of interest to one particular client,
usually one specific context.  For in

[2016-02-19 02:29] ejeffrey commented on #218
Should add @maffoo

I don't think anyone here has used the Explorer in years.  If you find it
useful, I am happy to try and dig up the source code and fix the signal
names.  It is also possible that explorer is not using the named messages
-- they were added to the protocol later, so some of the oldest software
still uses signals for new server notification.

On Thu, Feb 18, 2016 at 6:26 PM, Evan

[2016-02-19 19:12] roboguy222 opened #219 "formatting numbers with units"
I am not sure if this is expected behavior or not, but I thought I would note it here in case it is not.  One can format a float in python using `"{0.3f}".format(x)`, to display a float x with 3 decimal places, for example.  This throws an error in the newer versions of pylabrad, but not in the old ones, if x has labrad units attached.  Just FYI.

[2016-02-19 19:20] roboguy222 commented on #219
Relatedly, functions like numpy.nanmin can no longer be used with an array of numbers with units.

[2016-02-19 19:22] ejeffrey commented on #219
Hi Chris,

The old version of pylabrad allowed implicitly stripping the units off.  We
found this to be a problem because, for example if x was "3 microseconds",
your example would print 3.000, but if it was 3000 nanoseconds, it would
print 3000.000.  This could easily happen if the value is passed in from
out outside function or entered by the user.

So the currently recommended way to do this is

[2016-02-19 19:28] maffoo commented on #219
You _can_ format values if they are dimensionless:
[code]

But as @ejeffrey mentioned, we've found it's a very bad idea in general to allow numbers with units to be transparently treated like floats, so we've changed those behaviors.

It looks like formatting can be customized using the [`__format__` method](https://docs.python.org/3.1/reference/datamodel.html#object.__format__) in python3, but I

[2016-02-19 19:32] ejeffrey commented on #219
With regards to numpy, most operations will only work on value arrays that
are dimensionless, again to avoid ambiguous results, and implicit loss of
the unit information.

We could implement some of these functions as ValueArray class methods, but
then you have to use a separate syntax from normal numpy behavior.  numpy
1.11 is (hopefully) going to allow hooking into the ufunc mechanism so that
we

[2016-02-19 20:02] roboguy222 commented on #219
OK, just wanted to make sure it was intended.  I looked for the numpy ufunc thing, but as you said, it doesn't exist yet.

[2016-02-19 20:03] #219 closed

[2016-02-21 19:10] #216 closed

[2016-02-22 23:55] roboguy222 opened #220 "slow flattening"
The [datavault server](https://github.com/martinisgroup/servers/blob/master/data_vault.py) is really really slow when reading or writing any data larger than 100k or 1M points (not that big if adding a waveform or something).  I have been performing some tests on it, and think I have narrowed down the problem to the actual sending of the packets, as opposed to the processing or writing of the data

[2016-02-23 01:47] maffoo commented on #220
It looks like your test script is using python lists. Flattening/unflattening will be _much_ faster if you use numpy arrays wherever possible. The data vault does this internally, so I would guess that the time is dominated by your test script itself, not the server, though you'll have to give it a try.

[2016-02-23 01:52] ejeffrey commented on #220
Note that this problem will still exist with add_ex, which only works with
lists because the rows can be heterogeneous.  That is a major caveat of the
new API.  We basically implemented it knowing that flattening large lists
was already a problem with labrad that we need to fix.

On Mon, Feb 22, 2016 at 5:47 PM, Matthew Neeley <notifications@github.com>
wrote:

[2016-02-23 18:44] #46 closed

[2016-02-23 21:31] roboguy222 commented on #220
I edited the test script to use numpy arrays instead of python lists, and indeed saw a huge speedup in the flattening time (although converting to a numpy array is really fast with `np.toarray()` -- is there a reason this is not used?).  It looks like I was wrong in my first comment, and I now suspect that the main bottleneck is in the sending of the data (after flattening).  This can be seen in t

[2016-02-23 21:51] ejeffrey commented on #220
The reason that we don't just do np.toarray is because the contents of an
arbitrary list could be strings or compound data types.  Calling toarray()
would either fail, or forcibly coerce data to the wrong type.  What would
make sense is that if we know the target setting has type *v, we just
attempt to use toarray(), but we aren't currently being that smart.

On Tue, Feb 23, 2016 at 1:31 PM, Chris

[2016-02-23 21:53] maffoo commented on #220
@roboguy222, the timings you report for Send look quadratic; note that going from 10^6 to 10^7 the time goes up by 100x, rather than 10x. Could you share the exact script you were using so we can see what it was you were measuring?

Also, I'll just note that the thing you're testing here--sending and receiving a bunch of data in a single packet--is not something the system was designed for, so whi

[2016-02-23 22:06] roboguy222 commented on #220
@ejeffrey That makes a lot of sense.

@maffoo I understand that for most applications chunks this big do not need to be stored at once, but 10MB is not at all unreasonable if one wants to store a waveform or something like that.  I'll try remaking the table with smaller chunks and see what happens.  The script used for the last table is [here](https://github.com/McDermott-Group/servers/blob/14fc1d

[2016-02-23 22:19] maffoo commented on #220
@roboguy222, what version of the manager are you using?

[2016-02-23 22:21] roboguy222 commented on #220
scalabrad 0.5.1

[2016-02-23 23:21] jayich opened #221 "which labrad?"
@maffoo ,  we have been happily running Delphi labrad 1.1.3.  But, which labrad should we be using?  I have noticed a lot of scala development but I'm not paying close attention.  I like to keep our code as up-to-date as possible, etc.

[2016-02-23 23:37] maffoo commented on #221
scalabrad is where all the new development is happening on the manager. The big change is TLS support, but there are lots of little fixes as well, and the threading model is much better so we see greatly increased throughput, which may or may not be important for your workloads. The scala manager doesn't have the graphical interface of the delphi manager, so it's not quite as easy to just get up a

[2016-02-23 23:38] maffoo commented on #221
As to what you "should" be using, whatever works best for you is always the answer :)

[2016-02-23 23:38] ejeffrey commented on #221
The delphi manager should still work, but scalabrad will likely have better
performance in some cases, and is where new features (i.e., SSL/TLS
support) will be developed.  That comes with a couple of caveats:

1) The manager has no GUI, it runs in the background/console and you need
to manage it via the web interface.
2) Named signals are now case sensitive.  That has almost no implications
excep

[2016-02-24 00:20] jayich commented on #221
This is informative, thank you both.  Is there documentation for setting up and running the scala manager?  If there is not I could post questions here or on the scalabrad issues page.  I find all of these little fixes culminate in significant user experience improvements.  Basic question:  can one seamless switch back and forth between managers (in case the scala setup is not complete)?

Note: it

[2016-02-24 00:26] maffoo commented on #221
There is some documentation on the scalabrad repo [README](https://github.com/labrad/scalabrad#running-scalabrad). I'd suggest creating issues there rather than here, but of course we can move issues around as needed. It should be possible to move back and forth between the two managers so you can try things out; the scala manager uses environment variables or command line flags for configuration,

[2016-02-26 18:46] maffoo commented on #220
@roboguy222, I think I tracked down the major problem behind the slow packet handling. It was due to repeated buffer allocation in the manager in a networking library we use. I've pushed scalabrad-0.5.5 to address this. Can you update your manager and give it a try?

[2016-02-26 21:15] roboguy222 commented on #220
I don't think that helped.  I don't need to install a new pylabrad or anything, just a different manager?

[code]

[2016-02-27 00:25] maffoo commented on #220
You should just need to update the manager. Can you also post the code for the `send_data` setting that you added to the data vault? It seems very strange to me that the Send step takes ~40 times longer for the ADD and ADD EX cases where you send a single 2D array than for the ADD EX T case where you send two 1D arrays. The amount of data on the wire is the same in both cases, so I'm surprised tha

[2016-02-27 00:36] maffoo commented on #220
Also, I wanted to reiterate that while you may be right that it's very common to have 1M rows in your data set, you're going to be better off just writing it to the data vault in chunks. And it's not hard to wrap this up into a utility function that you can reuse; for example:
[code]
There are various ways this could be made more sophisticated and flexible, but in general this kind of streaming is

[2016-02-28 00:39] roboguy222 commented on #220
Huh, interesting.  I just tried your script and got similar results, but if I instead define s as a numpy array with `s = np.random.random(n)`, the times are way longer.
[code]
The send_data setting was essentially just the copied setting paramaters of the add function in the datavault, but doesn't do anything:
[code]

[2016-02-28 22:31] roboguy222 commented on #220
Just ran a test with `send_chunked` as written above, and it doesn't look like it actually helps.  I am not sure, but I am guessing twisted already chunks data if it needs to.
[code]

[2016-02-29 23:24] roboguy222 commented on #218
I would not make the Explorer a high priority, but I do sometimes like it for debugging.

[2016-03-01 19:43] roboguy222 commented on #220
I just rand the same test as above, where I sent a numpy array, but this time, I used `s = bytes( np.random.random(n))` instead.  This gave fast results comparable to your tests.  It definitely seems like strings are sent fast, but something is holding numpy arrays back.  Do you have any idea what this might be?  I haven't had a chance to dive too deeply into the code yet, but how are things flatt

[2016-03-06 21:19] creilly opened #227 "LazyList does not work with python list arguments"
if we get a list value from, say, a registry call:
`values = yield reg.get('key')`
and then pass the list to a function as a list argument:
`foo(*values)`
then `foo` will interpret `values` as an empty list:
[code]
casting `values` as a list fixes the problem, but I thought I should point this out since this is surprising behavior.

[2016-03-07 00:16] ejeffrey commented on #227
Hi, thanks for reporting this.

Sadly I think this is unavoidable / expected behavior.  List and tuples are
special-cased by the python interpreter for things like argument
packing/unpacking, so we don't get a chance to do the lazy unpacking here.
The right solution for this is to make LazyList *not* subclass list, or get
rid of it altogether.

What we would like to have is to allow you to specifi

[2016-03-07 21:49] thchwhite opened #228 "importing labrad throws error on line from concurrent.futures import Future"
Apparently this file doesn't exist in pylabrad or as part of the standard python install

[2016-03-07 21:50] maffoo commented on #228
If you use pip to install the latest version of pylabrad, it should pull down the library. Otherwise, just run `pip install futures` to get it.

[2016-03-07 21:54] thchwhite commented on #228
this was the issue, thanks.

[2016-03-11 20:13] roboguy222 opened #229 "Labrad node hangs when opening a client with a GUI"
Whenever I try opening a labrad client with a GUI using the labrad node, the node hangs, and does not register that it has finished opening.  Have any of you ever had this problem?  How did you get around it?  The big difference as far as I can tell is in the way the reactor works, so I am pasting that code below:

[code]

[2016-03-11 22:57] ejeffrey commented on #229
I have not used Tkinter with labrad at all, but I suspect the problem is
that the Tk event loop is taking over and preventing the twisted event loop
from processing network calls.

The way "client" connections get around this is by having the network event
loop in a separate thread, and passing packets back and forth via queues.
However, I think this is only exposed for synchronous clients, not se

[2016-03-12 11:27] Coxious opened #230 "Understanding of Daisy Chain"
Hi,
	We are trying to connect a FPGA board we made to current system.  While we reading the documents of the daisy chain, we found that for each RJ45 port, there are two differential signals input, daisy0 and daisy1. I guess this signal works like a trigger, synchronizing the collection of boards. But why where are two signals? How does it work? Do we have more detailed documentation about that?

[2016-03-12 11:52] Coxious commented on #230
Sorry for placing this issue in wrong place.

[2016-03-12 11:52] #230 closed

[2016-03-21 16:57] maffoo commented on #228
@thchwhite, can we close this?

[2016-03-21 17:06] maffoo commented on #229
@roboguy222, the node is meant for running servers, not clients. The server's node configuration (contained in the `NODE INFO` blocks in python servers, for example) includes the name of the server, and when the node starts a process it expects to see a server with that name connect to labrad. If it doesn't get a notification that such a server has connected, it shuts down the process. If you're u

[2016-03-21 18:39] thchwhite commented on #228
Sure,  I'll close it now

[2016-03-21 18:39] #228 closed

[2016-03-23 22:36] #227 closed

[2016-03-23 23:00] jwenner commented on #203
Can we now close this issue as PyPi now has a recent release?

[2016-03-23 23:08] maffoo commented on #203
Yeah, should have been closed when #204 got merged.

[2016-03-23 23:08] #203 closed

[2016-03-28 23:01] jayich opened #236 "error when importing units"
@maffoo , @ejeffrey

When I run
[code]
in an ipython notebook (or ipython shell) I get the following error:

[code]

Looking into this more closely I noticed that inside concurrent.py there is an interesting import
[code]
I am on the latest master.  Any help on this error would be great.

[2016-03-28 23:09] jwenner commented on #236
Try taking a look at #228.

[2016-03-28 23:11] jayich commented on #236
Great, thank you @jwenner .

[2016-03-28 23:11] #236 closed

[2016-03-28 23:19] jayich opened #237 "wiki requirements update"
I noticed after I figured out that I was missing futures that the wiki also needs to be udpated with this requirement.  requirements.txt was happily up-to-date and that is the first place I looked before perusing the wiki.

Feel free to close this issue whenever.

[2016-03-29 02:13] jwenner commented on #237
@ejeffrey or @maffoo, I'd like to update the wiki as per the request above. Could I get a review on the following (since I don't know how to do PRs for the wiki)?

# Current:
## Required Packages

To get started with pylabrad, you'll first need to install some software:

1. **Python** version 2.7 or greater (Stay tuned for Python 3.x support). Python is, in our opinion, one of the best programming

[2016-03-29 02:37] ejeffrey commented on #237
LGTM

On Mon, Mar 28, 2016 at 7:13 PM, Jim Wenner <notifications@github.com>
wrote:

[2016-03-29 03:07] jwenner commented on #237
The wiki has now been updated as above. Note that I did not list all the requirements to avoid duplication (as requirements change) but we now explicitly reference the requirements.txt file. So @jayich, fine to close?

[2016-03-29 03:11] jayich commented on #237
I agree that is best to not list all the requirements in the wiki.  Everything looks good to me.  Thanks again @jwenner .

[2016-03-29 03:11] #237 closed

[2016-03-30 23:15] zchen088 opened #239 "setup.py error on Windows"
When I do `run setup.py` in an IPython session, I get the following error:

[code]

[2016-03-30 23:46] maffoo commented on #239
I wouldn't expect this to work from inside IPython. What happens if you just run setup.py from the command line? Even better, use pip instead of running setup.py directly (e.g. `pip install .` from inside the pylabrad checkout if you want to install a dev version from source, or `pip install` to get the latest from PyPI).

[2016-03-30 23:48] zchen088 commented on #239
Tried `pip install .`, got a similar looking error:
[code]

[2016-03-31 02:39] maffoo commented on #239
So, it looks like it's failing to find a git executable. I guess this is a problem with the `setuptools_scm` module, which we're using to do versioning. As a short-term workaround you might try commenting out the `use_scm_version` arg to setup [here](https://github.com/labrad/pylabrad/blob/master/setup.py#L41). It's possible the unmodified setup.py will work if you run itfrom the git bash shell, o

[2016-03-31 04:36] zchen088 commented on #239
Running from git bash seems to work. Thanks!

[2016-03-31 04:36] #239 closed

[2016-04-11 23:15] ejeffrey commented on #213
To update this, I have been working on a high performance unit implementation written in C.  You can look at the code in u/ejeffrey/c_units.  It is largely compatible with the existing Value/Unit classes as long, but it has a few differences:

* zero is not special cased, comparisons and addition to float(0) will cause an error unless the other argument is dimensionless. (see #140)
* Units with of

[2016-04-19 00:20] jwenner opened #242 "Decorator failure"
As per @ejeffrey in martinisgroup/servers#340, should https://github.com/labrad/pylabrad/blob/master/labrad/decorators.py#L129 be `Nrequired >1` or `Nrequired != 0`?

@maffoo, @DanielSank, @JulianSKelly

[2016-04-19 21:53] #242 closed

[2016-04-20 05:09] maffoo opened #244 "Setting decorator changes break Signals"
Recent changes to the way the setting decorator works break the [Signal](https://github.com/labrad/pylabrad/blob/master/labrad/server.py#L37) object, which is used as a way to notify clients of changes in a server and also creates a setting that clients call to register to receive notifications, or to stop receiving them. The main place this is used is in the data vault, but that's an important on

[2016-04-20 18:28] jayich commented on #244
I just wanted to comment that signals are important for a number of servers we run.    If there is anything that I can do to help improve Signal I am more than happy to contribute.  I'll track this issue and at least try and help with documentation, for example.

[2016-04-20 19:18] ejeffrey commented on #244
Thanks for the input andrew,

I think the biggest problem is specific to the multi-headed datavault where
there are multiple instances of the server object, one per connection. The
issue is whether the signal object is per class or per instance, i.e.:

[code]

[2016-04-22 15:30] pomalley opened #246 "array *= unit doesn't work"
[code]

[2016-04-22 17:09] ejeffrey commented on #246
Hmm..  in place operators are supposed to not work but they should fall
back to using the regular binops.  Maybe the __imul__ function and friends
need an implementation that returns NotImplemented.
On Apr 22, 2016 8:30 AM, "pomalley" <notifications@github.com> wrote:

[2016-04-22 17:10] jayich opened #247 "skip travis tests when running the test code locally."
see: https://github.com/labrad/pylabrad/pull/245#issuecomment-213114250

[2016-04-22 18:57] pomalley commented on #246
I think this is pretty low on the priority list given the obvious
workaround, but just thought I'd put it out there in case it portends
any other failures...

On 4/22/2016 1:09 PM, ejeffrey wrote:

[2016-05-02 21:00] DanielSank opened #248 "PR #215 causes import error"
[code]

As far as I can tell, `concurrent` is both a module in pylabrad *and* a python package, which is confusing. What are we supposed to do to make this import work?

[2016-05-02 21:01] jwenner commented on #248
As in #228, run either `pip install futures` or `pip install pylabrad`.

[2016-05-02 21:03] DanielSank commented on #248
I now see that `futures` was added to `requirements.txt`. This is really confusing that a package called `futures` has a module called `concurrent`, which we import in our own `concurrent.py` as `from concurrent.futures import Future`, so that elsewhere in the code the line

`import concurrent.Future`

is important *that*.

[2016-05-02 21:03] #248 closed

[2016-05-02 21:17] maffoo commented on #248
@DanielSank, this is undoubtedly confusing. This sort of thing is one reason why we should always do `from __future__ import absolute_import`; then `import concurrent.Future` from a sibling module inside `labrad` is not a thing because you would always refer to `labrad.concurrent` while `concurrent` refers to the package from the futures dependency.

Additionally, I think it's an antipattern to im

[2016-05-02 21:49] ejeffrey commented on #248
I don't this it is automatically bad, particularly with the Future
example.  In this case there are multiple versions of Future that present
the same (or similar :( ) APIs, but are designed to be used with different
backends.  There is not only our old Future backport, but the python
concurrent.futures Future is different from the asyncio Future, the latter
having the machinery to be fired by the

[2016-05-02 22:35] maffoo commented on #248
It's true that you might want to reexport in some cases, my point is that python doesn't provide a way _not_ to reexport a name, even though that's often what you want (you want to hide your implementation from users).

In the particular case you mention of `asyncio.Future` versus `concurrent.futures.Future`, they're not really interchangeable. The former is meant to be used inside an event loop t

[2016-05-02 23:08] DanielSank commented on #248
@maffoo for some reason, standing here right now, my brain cannot handle thinking about how imports work. Interestingly, this seems to be a common problem with my brain.

[2016-05-05 00:46] mserlin opened #249 "Error when Creating Files in Data Vault"
I just started using labrad and am running into an issue whenever trying to create a new file in data vault.

Labrad and data vault open and connect fine. Data vault says it is now serving. From a python script, pylabrad imports without issue and there's no problem creating a connection. Data vault, manager, and registry severs all appear as expected.

However, when trying to create a new file in

[2016-05-05 00:48] DanielSank commented on #249
Please post an exact console dump of what you type in and the exact, complete error traceback.

[2016-05-05 04:15] mserlin commented on #249
Thank you for your prompt response. Please let me know if there's anything else I can provide.

Enter LabRAD password (localhost:7682):

LabRAD Client: 'Python Client (marec-pc)' on localhost:None

Available servers:
    data_vault
    manager
    registry

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\Marec\Anaconda3\envs\Python27\lib\site-packages\labr

[2016-05-05 04:18] DanielSank commented on #249
This may be related to a very recent change. See #244.

[2016-05-05 04:29] mserlin commented on #249
I saw that post, but I assumed that changing to previous versions of labrad and/or data vault would have avoided that issue. Has the problem raised in #244 only been observed on some, but not all computers?

I'll try to implement the proposed fix a try and see what happens.

[2016-05-05 06:02] maffoo commented on #249
Yes, this is the same problem as #244. I have created a PR #245 to fix it, just needs a review. @mserlin, if you would like to try out the u/maffoo/setting-fix and then comment on that PR if it works for you, that would be great. Otherwise, you should be able to downgrade pylabrad to version 0.95.1 and use that until we have pushed out a fix. Note that you need to switch pylabrad versions on the c

[2016-05-05 07:34] #244 closed

[2016-05-05 07:38] maffoo commented on #249
@mserlin, this should now be fixed in master (if you're running pylabrad from source) and in version 0.95.3 on PyPI (if you're installing a pylabrad package). Can you give it a try and update this issue?

Also, just out of curiosity, are you running pylabrad from source or installing a package? I'd like to encourage people to install release versions, but I'm curious what people are doing currentl

[2016-05-05 16:41] mserlin commented on #249
@DanielSank @maffoo, upgrading to version 0.95.3 fixed the problem. Thank you! If anything else pops up, I'll be sure to post it.

I am installing a package and I believe so are the rest of the people in my group.

[2016-05-05 16:47] #249 closed

[2016-05-06 01:49] zibrov-zlobin opened #250 "Data Vault is not working after updating pylabrad"
After updating pylabrad to 0.95.3 Data Vault started to fail opening datasets(ver 2.3.4)
[code]

[2016-05-07 07:19] maffoo commented on #250
There's a PR open to fix this in the data vault: martinisgroup/servers#343. For now, I'd suggest downgrading pylabrad to version 0.95.1.

[2016-05-13 18:41] aransfor opened #251 "TLS and connecting to delphi managers from other computers"
since upgrading to pylabrad 0.95.3, a client we use that connects to a delphi manager on a different computer now requests a password even thought we have LABRADPASSWORD=password set. the warning given is:

STARTTLS failed; will retry without encryption in case we are connecting to a legacy manager.
Connected without encryption.

Is the delphi manager not compatible with 0.95.3 in regards to this

[2016-05-13 19:25] maffoo commented on #251
We changed the way password handling works slightly, so that now the LABRADPASSWORD environment variable will only be used when connecting to a manager on the default host (given in the LABRADHOST environment variable). If you connect to a different host, it will ask for a password, even if the env variable is set; passwords are cached per host, so you will only be asked once in a given interprete

[2016-05-13 20:21] jayich commented on #251
@maffoo , thank you, this is all good to know.  We are working on upgrading to scalabrad (https://github.com/labrad/scalabrad-web/issues/178)

I don't understand environment variables, but it might be possible to have one environment variable LABRADCONFIG that points to a local file where all the configuration information can be stored as a list of variables.  On Windows this would have the benefi

[2016-05-13 20:44] aransfor commented on #251
@maffoo We can upgrade, I did not know if scalabrad was a side project or if most of you had switched. Is the delphi manager not going to be upgraded anymore?

[2016-05-13 21:00] ejeffrey commented on #251
Yes, scalabrad is now considered the mainstream choice for new deployment.
The delphi manager will still be available indefinitely, but is not going
to be updated any more.  So far the only real difference is TLS support,
but we do plan on adding protocol features that will not be supported in
delphi, such as unicode support.

You will want to check out the scalabrad-web package which provides a w

[2016-05-13 21:19] maffoo commented on #251
@aransfor, scalabrad is the way forward :-) We've switched entirely and seen substantial performance benefits, though the big advantage is that it's cross-platform so we're no longer tied to windows (or wine). Also, it's much easier to set up and maintain the dev environment, so that's where all new development is happening.

@jayich, I think it's worth exploring a config file option, we just have

[2016-05-13 22:29] aransfor commented on #251
where is the location of this new registry editor?

[2016-05-13 22:34] jwenner commented on #251
When you log in to the `scalabrad-web` website (which requires Chrome), there is a menu icon in the upper-right where you can select the manager list (showing all connections to the manager), the list of servers for a node (where you can start/stop servers), a registry editor, and a grapher.

[2016-05-14 23:35] aransfor commented on #251
OK, were off to the races, pretty straightforward switch. Thanks for the help

[2016-05-19 09:04] jayich opened #252 "pypi badge"
I noticed pypi badge with version number that links to the cheese shop on https://github.com/audreyr/cookiecutter

If pylabrad used this badge it might encourage use of official release versions, etc.

clearly priority level 0.  close at will.

[2016-05-19 14:32] maffoo commented on #251
closing for now. @aransfor, feel free to reopen or file a new issue if you have further questions.

[2016-05-19 14:32] #251 closed

[2016-05-19 14:57] #252 closed

[2016-05-19 20:20] pomalley opened #253 "Twisted warning when I don't have `service_identity`"
I recently (finally) updated my pylabrad and got this warning on import:

[code]

Easily fixed with `pip install service_identity`; is this something we care about?

(On Windows 10, btw.)

[2016-05-19 20:44] maffoo commented on #253
It's a good idea to have this; always best to keep TLS as up to date as possible. We can add it to the requirements file so you get it by default when installing pylabrad.

Out of curiosity, are you putting the pylabrad source on your python path or are you pip installing it from pypi?

[2016-05-20 00:51] pomalley commented on #253
Made a PR for it: #254.

I have pylabrad on my python path. I reinstalled all the python on my windows machine and ended up going the Anaconda route; seems to have worked out pretty well so far (integrates perfectly with pip, etc).

[2016-05-20 13:29] #253 closed

[2016-05-20 14:32] aransfor opened #255 "Multiple nodes on one host"
We use servers from a few groups(Haeffner Riken Martinis and Campbell). We run into node naming conflicts for some servers (data vault, serial server etc.) Is there a way to have a node for each repository so we can cherry pick servers from each?

[2016-05-20 19:20] maffoo commented on #255
You certainly can do this, just launch multiple copies of the node server with different names:
[code]
and then configure them to look in different directories for servers to run.

Note that the latest version of the node can handle multiple versions of a server with a given name on its search path. It will display all such servers in the list of servers to be launched, with the version number add

[2016-05-20 19:49] aransfor commented on #255
@maffoo excellent answer. As usual you guys have been a huge help

[2016-05-20 20:15] #255 closed

[2016-05-23 04:53] maffoo opened #256 "setting decorator does not handle trailing comments on accepted types"
The `@setting` decorator currently fails if given argument types with trailing comments. It seems to be concatenating the user-provided strings, so later types become part of the comment instead of part of the type. For example:

[code]

will register itself with an accepted type of `s: the first argi` rather than `si`.

[2016-05-23 22:10] #256 closed

[2016-05-31 18:26] jayich opened #258 "How to autostart a specific server version"
@maffoo , in scalalabrad we can list servers in the Registry to autostart.  Is it possible to specify a specific version of a server to autostart?

[2016-06-01 20:45] jayich commented on #258
I think we figured this out.  The highest version number for server_name is just server_name, and lower version numbers get server_name-1.1 (for version 1.1) for node usage.

This is great functionality that is appreciated by our group.

[2016-06-01 20:45] #258 closed

[2016-06-01 21:38] jayich opened #259 "registry.sqlite and git"
Is it possible to track registry.sqlite changes with git?  We can make commits, etc., but we can't see what keys/values are changed.

[2016-06-02 04:17] DanielSank commented on #259
@maffoo pointed out a while back that there's no real reason to use any particular format for the registry. We could use text files and stuff them all into a git repo, and we'd only have to write a little shim to interface it with the rest of LabRAD.

You could put an sqlite file in version control but since it's a binary format the diffs won't be particularly helpful.

[2016-06-02 04:37] jayich commented on #259
I noticed the binary diffs weren't too illuminating.

So I could revert to the old plain text file format and do some conversion to sqlite?  That seems fairly reasonable.  If anyone has implemented this and has an example that would be helpful.

[2016-06-02 04:40] DanielSank commented on #259
I wouldn't bother converting back and forth. Probably easier to just write a new interface lib so that the registry can read your favorite text format and then use that. There are a million and one "standard" text formats with nice I/O libs.

[2016-06-02 04:56] ejeffrey commented on #259
I am pretty sure the manager already has at least one text backend, it has
one that is compatible with the old delphi manager.  This is somewhat
discouraged, as that format has known problems (some data is not round-trip
safe), but it works as well or better than it did with the delphi manager.
There is a command line argument to specify the format.  We also have a
conversion tool, although I don'

[2016-06-02 05:04] DanielSank commented on #259
Where @ejeffrey said "What we can do" he actually describes something that we in fact *do*.

[2016-06-02 05:09] ejeffrey commented on #259
Yes, that is what I meant.

On Wed, Jun 1, 2016 at 10:04 PM, Daniel Sank <notifications@github.com>
wrote:

[2016-06-03 03:14] jayich commented on #259
Thank you for the info Evan.  Some combination of my Registry and git usage is causing problems with our Registry.

@ejeffrey , regarding round-trip safe, do some data types not get transferred properly?  I am tempted to try the text backend, but if you guys are moving away from that and to sqlite I feel like it is probably best to figure out sqlite.

[2016-06-03 04:15] maffoo commented on #259
The registry configuration for the scala manager is documented in the command line interface, so you can see it by running the manager with the `--help` option (or look at [the code](https://github.com/labrad/scalabrad/blob/master/src/main/scala/org/labrad/manager/Manager.scala#L361)). Basically, you can specify a `file://` url that points to a file to store everything in a single sqlite file, or

[2016-06-03 04:23] jayich commented on #259
@maffoo , thank you, that clarifies a lot.  I roughly found the source of our problems - stemming from a server that accesses the registry and associated *.pyc files.  I'm working on a fix.   @gregllong was able to successful migrate our registry a couple of weeks ago.  I am pretty sure we will stick with sqlite.

I feel like my original question has been answered.

[2016-06-03 04:23] #259 closed

[2016-06-06 17:44] maffoo opened #260 "0-dimensional numpy arrays flattened to invalid data"
Numpy allows 0-dimensional arrays, but they are not flattened properly by pylabrad:
[code]
It would be possible to add 0-dimensional array support to labrad and encode this as `*0i`, but I think that's maybe not the best course of action. One problem would be what is the text representation of a 0-d array (for example, in the registry editor)?

So, either we change this to (1) encode 0-d arrays as

[2016-06-06 21:47] ejeffrey commented on #260
FWIW, numpy frequently automatically converts 0-d arrays to scalars.

For sure some code that expects to work on arrays will fail on scalars,
especially if they are straight python floats (rather than np.float64 which
implements the array API).  This is especially true if you try to use array
methods/attributes rather than the function versions in the numpy
namespace.  Well behaved array code _sho

[2016-06-06 21:54] DanielSank commented on #260
@maffoo how did this come up?

[2016-06-06 22:04] maffoo commented on #260
LOL :) Do you have any feelings about (1) vs (2) in the issue description? Basically, should be flexible in what we accept (but then not preserve input data with full fidelity) or strict in what we accept (but then maintain fidelity because we reject 0-d arrays that can't be represented in labrad). I'm leaning toward (2), but only slightly.

@DanielSank, martinisgroup/pyle#1277

[2016-06-06 22:07] DanielSank commented on #260
I'd go with option 2.

[2016-06-06 22:07] DanielSank commented on #260
Particularly because it leaves option 1 available in the future if we decide we need it for some good reason.

[2016-06-06 23:19] ejeffrey commented on #260
I agree with Dan.  Just reject it with a clear errors message.  If someone
comes up with a legit use case, we can do the auto-convert.  I don't have
any specific problem with auto-converting to scalars, but I don't really
think it should come up very often.  I expect that trying to flatten a 0-d
array usually indicates an error.

On Mon, Jun 6, 2016 at 3:07 PM, Daniel Sank <notifications@github.co

[2016-06-20 05:22] DanielSank opened #262 "Subclassing futures.Executor seems unnecessary"
See here

https://github.com/labrad/pylabrad/commit/f5d1f83e5bbbb8f0ffd57939d45d0a882d0862b1#diff-52b2888413f5b242cd7696f1c4a3c5acR27

Doesn't look like we use `map`, which is the only interesting method of `futures.Executor`.

[2016-06-20 16:20] maffoo commented on #262
Think of `Executor` as a `FutureFactory`; if you want to run code asynchronously and get back a `Future` that will fire with the result, you use an executor. The provided executor implementations do this by running your code either in a thread pool or in a child process, but we want to run code on an asyncio event loop, so we provide an Executor implementation that does this.

As a side note, I wo

[2016-06-20 17:34] DanielSank commented on #262
Ok but since we write out own submit method what's the point of subclassing?
On Jun 20, 2016 9:20 AM, "Matthew Neeley" <notifications@github.com> wrote:

[2016-06-22 23:48] ckometter opened #263 "request detected as a string and not as a labrad.backbend.Future"
Hi,
I've been trying to do a simple blocking call but it detects my request as a string and not as labrad.backbend.Future
[code]

I get the following error:
[code]
Thanks

[2016-06-23 00:32] DanielSank commented on #263
I think I know what's wrong, but could you please include all of the code? It's not clear from what's posted whether you're showing client or server code.

In a client, the relevant code is [here](https://github.com/labrad/pylabrad/blob/master/labrad/client.py#L61), which I paste for convenience:

[code]

If we set `wait=False` then we get the future back. However, as you can see, this is depreica

[2016-06-24 15:20] #260 closed

[2016-06-24 15:45] maffoo commented on #263
@DanielSank is correct @ckometter; the old way of making an asynchronous request was to pass a keyword arg `wait=False` but we realized it's a bad idea to change the return type of a function based on input parameters (that sort of thing makes it really hard to reason about types statically; IDEs hate it almost as much as humans). So, you need to call the `future` method on the setting, instead of

[2016-06-25 18:39] DanielSank opened #265 "In moving toward python3, do we want to maintain backwards compatibility?"
Python 3 has nice asynchronous APIs. In order to keep the code python 2 compatible one has to use slightly less nice API's. For example, in python 2 no amount of compatibility libs can make this work:

[code]

I'm interested in working a bit on the python 3 back end so I'd like to know whether we want to have one back end that works for both python 2 and python 3.

[2016-06-25 21:45] ejeffrey commented on #265
There is a backport of asyncio called trollius that we want to use.  It has alternate syntax for 'yield from', 'await' and other python 3isms, and you can also use it in python 3 until you make the complete transition.

[2016-06-25 23:01] DanielSank commented on #265
@ejeffrey As illustrated in my previous comment, and as you said, trollius does not provide the really nice parts of asyncio. So, if we use trollius then I guess you're saying we *should* simultaneously support python 2 and 3?

[2016-06-25 23:08] DanielSank commented on #265
http://trollius.readthedocs.io/deprecated.html

[2016-06-26 01:58] ejeffrey commented on #265
Basically I think we should use trollius as a stepping stone.  I don't
think porting to python 3 and asyncio and throwing out backwards
compatibility all at the same time is a good idea.  So my suggestion is:

1) port to asyncio/trollius
2) Make python3 compatible (i.e., fix str unicode issues)
3) Once things are actually working with python 3, including servers, pyle,
and any external dependencie

[2016-06-26 02:22] DanielSank commented on #265
Yeah that makes sense. It's unfortunate that the Python 3 asynchronous APIs
keep changing..

On Jun 25, 2016 6:58 PM, "ejeffrey" <notifications@github.com> wrote:

[2016-06-27 20:17] jayich commented on #265
@ejeffrey plan makes a lot of sense.  If internally the plan is to use Python 3 going forward then the concern is for external users.  FWIW, I'm happy to move on to Python 3.  The extra effort to maintain backwards compatibility with Python 2 sounds like a significant resource sink.

Maybe a 2b) would be some rough guide on how to switch from pylabrad on Python 2 to Python 3.

If current code styl

[2016-06-27 20:20] DanielSank commented on #265
@jayich using trollius to revamp the networking backend isn't really a resource sink; it allows us to not depend on Twisted and makes some parts of the code easier to understand and maintain. FWIW `u/maffoo/python3` has a significant portion of that work already done.

[2016-06-27 20:24] ejeffrey commented on #265
The biggest problem with porting to python 3 other than twisted
availability is the str/unicode split in python3.  We generally thing this
is a good thing, but it requires changes to the labrad protocol and
examination of nearly every server setting.

To this end, we have already added the 'y' type for bYtes.  Currently,
bytes is handled exactly the same way as 's', but the intend is to make 's'
a

[2016-06-27 22:05] ckometter commented on #263
Thanks a lot. It worked.

[2016-06-27 22:05] #263 closed

[2016-06-29 22:20] jwenner commented on #265
After we enable Python 3.x and before we drop Python 2.7 support, we should probably wait somewhere between 6 months and 2 years for external users to make the switch. During this time, we should probably raise a DeprecationWarning to indicate that Python 2.7 support will be dropped.

[2016-07-01 03:03] ckometter opened #267 "Node autostart order"
Hi,

I have a server for a sr_7280 lock-in with its own identification function. The gpib_device_manager needs to be running before the sr_7280 server to register the identification function. Is there a way to specify the order in which the node starts the server from the autostart?

Thanks,
Carlos

[2016-07-01 03:22] jwenner commented on #267
Are you running pylabrad from PyPI or from a git checkout? If you are not on the latest git checkout or if you are using a PyPI version, could you please try the latest GitHub version? (You can do this by getting a git checkout and then pip installing from the git checkout. Note that, on Windows 7, I had to do `pip install -e .` while in the pylabrad directory from within a Git Bash window.)

I'm

[2016-07-01 03:29] aransfor commented on #267
I was also curious about this. We definitely have some servers that depend on other servers running, Is there a standard procedure for making a server (such as one that needs to talk to data vault) run without datavault running?

[2016-07-05 18:50] maffoo commented on #267
The node starts servers in the order listed in the autostart list, but it currently does this asynchronously, so later servers cannot assume that earlier servers are running by the time they run (see [here](https://github.com/labrad/pylabrad/blob/master/labrad/node/__init__.py#L870) and note how we make all the `start` calls before waiting for any of them to complete). I think the simplest way to

[2016-07-05 18:57] maffoo commented on #267
It looks like managed gpib servers do in fact try to connect to the gpib device manager if it connects to labrad after they do: https://github.com/labrad/pylabrad/blob/master/labrad/gpib.py#L310, so things should not depend on startup order. @ckometter, can you give some more info about the problem you're seeing? One thing that would be helpful for you to try would be to _manually_ start the serve

[2016-07-06 22:04] maffoo opened #268 "labrad.gpib is useless without gpib server and device manager"
The code in the labrad.gpib module relies on [gpib_bus_server.py](https://github.com/martinisgroup/servers/blob/master/gpib_server.py) and [gpib_device_manager.py](https://github.com/martinisgroup/servers/blob/master/gpib_device_manager.py) to work, but those servers live in a different repo. This makes it hard to make coordinated changes to the gpib system, because we have to sync changes across

[2016-07-06 23:53] ejeffrey commented on #268
Why not the reverse?  Put labrad.gpib into the servers repo?

On Wed, Jul 6, 2016 at 3:04 PM, Matthew Neeley <notifications@github.com>
wrote:

[2016-07-07 00:02] maffoo commented on #268
@ejeffrey, that could work too. We'd need a new package name since I don't think we can have stuff in a `labrad.gpib` package that lives outside the directory where the rest of `labrad` lives (I think that's doable with so-called ["namespace" packages](https://docs.python.org/3/whatsnew/3.3.html#pep-420-implicit-namespace-packages), but those are only supported in python 3.3+). That also makes thi

[2016-07-07 00:06] aransfor commented on #268
It would be cleaner for us if all the generic servers (serial, gpib, TCP etc) were either a part of pylabrad or in there own server repo.. perhaps even better would be a repo where all servers that are OEM devices plus the serial and gpib servers are shared, this way a large database of device servers could be generated

[2016-07-07 00:07] jwenner commented on #268
BTW, doing this would go at least part way to fixing #9.

[2016-07-07 04:07] ejeffrey commented on #268
FWIW, explicit namespace packages are supported in python 2.7 (actually
python 2.3+) using the pkgutil.  PEP 420 is about implicit namespace
packages that don't use __init__.py at all and have some extra dynamic path
wizardry so that you can add new path entries to search for
modules/subpackages.

Basically all you have to do is have multiple copies of 'labrad' on the
pythonpath, each of which has

[2016-07-08 17:14] maffoo commented on #268
@ejeffrey, thanks for the tip about pkgutil; that seems like a good way to go. We can put all the gpib code together in a `labrad.gpib` package, but it needn't live in this repository with the rest of pylabrad, to keep the install footprint and required dependencies small, as you suggest.

So, it probably makes sense to create a new python package to hold the gpib stuff, and publish that as a sepa

[2016-07-14 19:42] mandolout opened #269 "What is the best server to server communication method?"
**what is the appropriate way for a labrad server to send a command (setting) to another labrad server?**

I am making a labrad server that lets the user give names to the settings of device servers, then access those settings(set values / get values) by name. In order to do this, the server needs to be able to communicate with the other running servers; specifically it needs to be able to access

[2016-07-14 20:48] mandolout opened #270 "Is it preferred to use many contexts or many labrad connections?"
Data vault can only have one open file at a time, and to write to a file it needs to have been opened with the new() command. In order to have multiple files open for writing, we need to either assign each its own labrad connection, or assign each its own context within one labrad connection. Which of these methods is preferred?

Similarly for device servers, only one device is selected at a time,

[2016-07-14 21:06] maffoo commented on #270
You can use separate contexts or separate connections, whichever you prefer. In the past, we have  tended to just use one connection and we do things like opening different data sets or talking to different devices in separate contexts. In general, most servers only keep a small amount of state in memory for a context, so it's not a big deal to have lots of them open.

However, there are drawbacks

[2016-07-14 21:08] maffoo commented on #269
Yes, using the `client` attribute inside a server is the easiest way to do this. You can see lots of examples of this if you poke around our servers repository: [martinisgroup/servers](https://github.com/martinisgroup/servers)

[2016-07-18 16:07] maffoo opened #271 "Requests return None instead of correct value"
See for example the report here: https://github.com/labrad/scalabrad/issues/61

Traced this back to a bug in the implementation of `labrad.concurrent.MutableFuture` due to that class shadowing a variable name in the `concurrent.futures.Future` base class.

[2016-07-18 16:38] #271 closed

[2016-07-18 16:50] maffoo commented on #271
Just published version 0.95.5 with the fix. @BrooksCampbell, please upgrade to that version or pull master if you're running from source.

[2016-08-04 07:14] nrdlove opened #276 "Connection lost"
Did anyone encount the problem like this:

First, I run the LabRAD v1.1.3 and then run the following command on python

import labrad
cnx = labrad.connect()

However, this is not success and I get an Exception Traceback like this:

Traceback (most recent call last):
 File "C:\Python27\lib\site-packages\labrad\__init__.py", line 24, in connect
    cxn = backend.connect(host=host, port=port, name=na

[2016-08-05 00:57] creilly opened #277 "linux machine not connecting to windows manager using tls connection"
I can connect to the labrad manager on a windows machine from a different windows machine by specifying the host alias (not the ip address) as the host. If I specify the ip address the connection fails with an "Invalid DNS-ID" error, shown below.

Attempting to connect from a linux machine with the host alias throws an error about not resolving the host name. Using the ip address fails with the sa

[2016-08-05 04:39] maffoo commented on #277
It looks like that error is getting raised after the following check:
[code]
I'm guessing that you have `LABRADHOST` set to an IP address and that is what is causing the problem here. You might try using a proper hostname instead of just an IP address. You can use an alias in your `/etc/hosts` file, but whatever alias you use, you'll have to tell the manager to generate a self-signed cert for that

[2016-08-05 12:12] creilly commented on #277
editing the hosts file did the trick : )
it does not appear to make a difference whether or not the manager includes the linux machine's ip address in the --tls-hosts option.
why should using an alias be required?

[2016-08-05 15:18] maffoo commented on #277
By default the manager generates certs for 'localhost' and for whatever it gets by asking the OS for its hostname. If your entry in the hosts file on another machine matches one of those, then things will work. If you want to use a different name, you'd need to tell the manager to generate a cert for that name.

[2016-08-05 17:40] roboguy222 opened #279 "Threading changes behavior"
We are working on a basic monitoring system that has several different threads querying several different devices through a single server every second or so.  Without threading, we get the respective values we want as expected, but with threading, the correct device does not seem to be constantly selected, and the values bounce around between threads.  Any idea what might be happening here?  The i

[2016-08-05 17:40] maffoo commented on #276
Not sure what the problem could be here, but we're not developing the old delphi manager anymore, so it would be much better if you can upgrade to [scalabrad](https://github.com/labrad/scalabrad).

[2016-08-05 17:41] roboguy222 commented on #279
@nmGit

[2016-08-05 17:42] DanielSank commented on #279
Could you write a very simple mock-up server which reproduces this problem so that we can diagnose without needing specific hardware?

[2016-08-05 17:43] maffoo commented on #279
I would suggest using separate connections in each thread. We haven't done any work to make the connection objects threadsafe.

[2016-08-05 19:11] roboguy222 commented on #279
Hmm, it appears to be working now with the following test server.  I'll look into what @nmGit saw more and get back to you.

[code]

[2016-08-06 04:46] nrdlove commented on #276
OK! It works quite well by using scalabrad. Thanks a lot.

[2016-08-06 04:46] #276 closed

[2016-08-06 18:36] ejeffrey commented on #279
Agree with matthew that the connection objects are not necessarily
threadsafe.  Use one connection per thread, use locks, or use asynchronous
client connections and run everything in one thread.

My guess is that mks_prd2000_server is not "concurrent safe".  Any time you
"yield" in a server, any other context can execute pending requests.  If
there is any shared state in the server, (including sha

[2016-08-07 18:59] nmGit commented on #279
Hello everyone I managed to get it working, thanks for your comments. @ejeffrey, thank you in particular for mentioning locking, this is exactly what I was looking for. I just needed to make a few changes to the deviceWrapper in my labrad server.

The original serial read/write code:

[code]

After I got rid of read_line and write_line, and added a function that did both, the code was:
[code]
Call

[2016-08-10 22:05] maffoo opened #280 "Need a way to disable prompting user when connecting"
In some scenarios we are not able to prompt the user for things like entering a password or accepting a certificate, for example when running a server on a remote machine with the node. In such a case we should fail rather than hanging on a prompt. Ideally, just test if stdin is a terminal, rather than requiring this to be configured up front.

[2016-08-11 17:40] edowd opened #281 "Can only connect with backend='asyncore'"
Hi, I'm new to LabRAD and just trying to get set up for the first time. I have installed the LabRAD manager and explorer and installed pylabrad using pip install, but when I try to open a connection using labrad.connect() I get the error "Exception: Connection lost." It does work, however, if I use labrad.connect(backend = 'asyncore'). Any idea what the problem could be? Thanks much!

[2016-08-11 18:01] DanielSank commented on #281
You say you installed the manager and explorer. Where did those come from? The sourceforge stuff is super old and no longer maintained. Please use the manager found [here](https://github.com/labrad/scalabrad).

[2016-08-11 18:47] edowd commented on #281
aha! That made a difference. Thanks.

[2016-08-11 19:15] maffoo commented on #281
Closing for now; @edowd, please reopen or create a new issue if you have other problems.

[2016-08-11 19:15] #281 closed

[2016-08-11 20:09] #221 closed

[2016-08-16 19:02] edowd opened #284 "Trouble understanding how to use the node"
Hi - I'm just starting with labrad and am having trouble with the node. I have the node up and running (I used python -m labrad.node) but can't figure out how to add servers to the list that the node starts up. Currently there are no servers listed as available servers for the node, even if they are serving. How do I point the node to the folder where my servers are stored? Thanks.

[2016-08-16 21:40] jwenner commented on #284
There are several registry keys which need to be set. Could you please take a look at the [node docstring](https://github.com/labrad/pylabrad/blob/master/labrad/node/__init__.py) and see if this is clear?

In addition to the registry keys indicated there (`autostart`, `directories`, `extensions`), you may also need the key `javapath` if you are using any servers based on java or scala. On Windows

[2016-08-17 18:30] edowd commented on #284
Thanks. I couldn't figure out how to set the registry keys from command line. I got scalabrad-web set up and now I am in pretty good shape with the node I think.

[2016-08-17 19:12] jayich opened #286 "Can clients be disconnected from the scalabrad manager web interface?"

[2016-08-17 19:13] jayich commented on #286
If so, how?

With the delphi manager you could click on a client and then click disconnect.

[2016-08-17 19:24] jwenner commented on #286
I think that a similar functionality has been introduced in the most recent release of scalabrad-web (v2.0), and in particular in labrad/scalabrad-web#248. However, as I'm still on v1.1.0, I can't say for certain that this functionality works...

[2016-08-17 19:29] jayich commented on #286
@jwenner , thank you.  I'm looking forward to trying this out.

[2016-08-18 01:06] edowd opened #287 "Same server running on multiple nodes"
Hi -- I have a scalabrad manager running on one computer and nodes running from the same computer and another computer. But I can't figure out how to have, for example, the same server running on each of the nodes simultaneously. I think it has to do with the instancename setting in the node header, but as soon as I add an instancename, the server doesn't start at all on either node. I am also con